@mixin center {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin ratio-outer($ratio) {
    position: relative;
    &::after {
        content: '';
        display: block;
        margin-left: $ratio;
    }
}

@mixin ratio-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}