/********
 * COLORS
 ********/

$primary-color: #2258c5;
$light-primary-color: #4c86fb;
$secondary-color: #ef585b;
$success-color: #15c599;
$error-color: #ef585b;

$background-color: #f3f3f3;
$text-color: #333;
$separator-color: #ccc;
$border-color: #ddd;

/********
 * LAYOUT
 ********/

$sidebar-width: 240px;
$detail-bar-width: 300px;