/********
 * COLORS
 ********/

$primary-color: #2258c5;
$light-primary-color: #4c86fb;
$lighter-primary-color: lighten($light-primary-color, 15%);

$secondary-color: #ef585b;
$success-color: #15c599;
$error-color: #ef585b;

$background-color: #f6f6f6;
$button-color: #707070;
$text-color: #333;
$detail-text-color: #888;
$separator-color: #ccc;
$border-color: #ddd;

/********
 * LAYOUT
 ********/

$sidebar-width: 240px;
$sidebar-closed-width: 50px;
$detail-bar-width: 300px;
$detail-bar-closed-width: 50px;

