/********
 * COLORS
 ********/

$primary-color: #f15929;
$light-primary-color: #ff825a;
$lighter-primary-color: mix($light-primary-color, white, 40%);

$secondary-color: #28b8c2;
$light-secondary-color: mix($secondary-color, white, 70%);
$lighter-secondary-color: mix($secondary-color, white, 40%);
$success-color: #15c599;
$error-color: #ef585b;

$background-color: white;
$dark-background-color: #f6f6f6;
$button-color: #707070;
$text-color: #333;
$detail-text-color: #888;
$separator-color: #ccc;
$border-color: #ddd;

/********
 * LAYOUT
 ********/

$sidebar-width: 240px;
$sidebar-closed-width: 50px;
$detail-bar-width: 300px;
$detail-bar-closed-width: 50px;

