/*
 * Prevents app from scrolling.
 */
.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
}

.main-and-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: $topbar-height;
    transform: none;

    &.splash {
        margin-top: $splash-topbar-height;
        transition: transform 300ms;
        bottom: -$splash-topbar-collapsed-offset;

        @include media("<=small") {
            margin-top: $splash-topbar-height-small;
            bottom: -$splash-topbar-collapsed-offset-small;
        }
    }

    &.splash-collapsed {
        transform: translateY(-$splash-topbar-collapsed-offset);

        @include media("<=small") {
            transform: translateY(-$splash-topbar-collapsed-offset-small);
        }
    }


}