/*
 * Prevents app from scrolling.
 */
.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    position: relative;
    flex: 1;
    height: 100%;
    transform: none;

    &.animatable {
        transition: transform 300ms;
    }

    &.collapsed {
        transform: translateY(-95px);

        .content_inner {
            margin-bottom: 95px;
        }
    }
}