.main {
    position: relative;
    height: 100%;
    z-index: 2;
    margin-left: $sidebar-width;
    background: $dark-background-color;

    &.no-sidebar {
        margin-left: 0px;
    }
}

.content {
    -webkit-overflow-scrolling: touch;
}

.content_inner {
    padding: 20px;
}


// Site-wide styles

.content_header {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 18px;
    border-bottom: 1px solid $separator-color;
}

.content_main {
    margin-top: 20px;
}

.content_back {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    margin-right: 3px;

    .svg-icon {
        position: absolute;
        top: 4px;
        width: 100%;
        height: 100%;

        &:hover {
            fill: $primary-color;
            cursor: pointer;
        }
    }
}


// Responsiveness

.main {
    @include media('<=medium') {
        margin-left: 0;
    }
}

.main-container-room .main {
    @include media('<=room-medium') {
        margin-left: 0;
    }
}