.main {
    position: relative;
    height: 100%;
    z-index: 2;
    margin-left: $sidebar-width;
    background: $dark-background-color;

    &.expand-left {
        margin-left: 0;
    }
}

.content {
    -webkit-overflow-scrolling: touch;
}

.content_inner {
    padding: 20px;
}


// Site-wide styles

.content_header {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 18px;
    border-bottom: 1px solid $separator-color;
}

.content_main {
    margin-top: 20px;
}