.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width;

    &.no-sidebar {
        display: none;
    }

    padding-top: 15px;
    background: $dark-background-color;
    overflow: auto;

    h1 {
        font-size: 14px;
        color: $primary-color;
        font-weight: 500;
        margin: 10px 0 20px 0;
    }

    .spinner {
        margin: 20px auto;
    }
}

.sidebar_section {
    margin-bottom: 15px;
    padding: 0 15px 10px 15px;
    border-bottom: 1px solid #e6e6e6;
}


/***************
 * CONTENT VIEWS
 ***************/

a.sidebar_item {
    font-weight: 300;
    color: $text-color;
    display: flex;
    margin-bottom: 12px;
    font-size: 14px;
    align-items: center;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }

    &.selected {
        font-weight: bold;
    }

    .sidebar_icon {
        background-color: $primary-color;
        svg {
            fill: white;
        }
    }
}

.sidebar_no-content {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #999;
    width: 100%;
    margin: 10px 0;
}

.sidebar_icon {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #ddd;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        @include center;
    }

    .svg-icon-person {
        @include center;
        width: 70%;
        height: 70%;
    }

    .svg-icon-home {
        @include center;
        width: 80%;
        height: 80%;
    }
}

// Bookmarks

.sidebar_bookmarks {
    .item_container {
        float: none;
        margin-bottom: 12px;
        &:last-child {
            margin: 0;
        }
    }
}

// Subscriptions

.badge.sidebar_badge {
    border: 1px solid #e6e6e6;
    box-shadow: none;
    position: absolute;
    font-size: 10px;
    left: 150px;
    background: $dark-background-color;
}

// Responsiveness

@mixin collapsed-sidebar {
    display: block;
    transform: translateX(-100%);
    z-index: 15;
    border-right: 1px solid border-color;

    &.animating {
        transition: transform 0.25s;
    }

    &.active {
        transform: translateX(0);
        box-shadow: 4px 0px 10px -1px rgba(0,0,0,0.11);
    }
}

.sidebar {
    @include media('<=medium') {
       @include collapsed-sidebar;
    } 
}

// For sidebar within room, we want to collapse when screen is < 1100px
// which accounts for the detail bar
.main-container-room .sidebar {
    @include media('<=room-medium') {
        @include collapsed-sidebar;
    }
}


