.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    border-right: 1px solid $border-color;
    background: white;
    padding: 15px;
    overflow: auto;

    .separator {
        width: calc(100% - 10px)
    }

    h1 {
        font-size: 12px;
        color: $primary-color;
    }
}

/********
 * HEADER
 ********/

.sidebar_logo {
    margin-bottom: 25px;
    font-size: 24px;
    text-align: center;
    width: 100%;
    display: block;
}

.sidebar_user-info {
    margin-bottom: 15px;
    height: 20px;
}

.sidebar_user {
    float: left;
    font-size: 14px;
    color: $text-color;
}

.sidebar_logout {
    float: right;
    font-size: 12px;
    font-weight: normal;
    @include clearfix;
}

.sidebar_login {
    float: left;
    margin-left: 40px;
}

.sidebar_signup {
    float: right;
    margin-right: 40px;
    @include clearfix;
}

/***************
 * CONTENT VIEWS
 ***************/

.sidebar_no-content {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #999;
    width: 100%;
    margin: 10px 0;
}

// Bookmarks

.sidebar_bookmarks {

    margin: 0 -15px 0 -15px;

    h1 {
        margin-left: 15px;
    }

    .item-room {
        width: 100%;
        height: 70px;
        padding: 10px 15px;
        border: none;
    }

    .item-room_info {
        font-size: 13px;
        width: 100%;
    }

    .item-room_right, .item-room_open, .item-room_channel, .item-room_time {
        display: none;
    }

    .item-room_detail {
        font-size: 10px;
    }

    .item-room_author {
        display: block;
    }

}

// Subscriptions

.sidebar_subscriptions {

    a {
        font-weight: normal;
        color: $text-color;
        display: block;
        margin: 0 0 7px 15px;
        font-size: 14px;

        &:hover {
            color: $primary-color;
        }

        &.selected {
            font-weight: bold;
        }
    }
    
}

// Categories

.sidebar_categories {

    a {
        font-weight: normal;
        color: $text-color;
        display: block;
        margin: 0 0 7px 15px;
        font-size: 14px;

        &:hover {
            color: $primary-color;
        }

        &.selected {
            font-weight: bold;
        }
    }
}