.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    border-right: 1px solid $border-color;
    background: white;
    padding: 15px;
    overflow: auto;

    h1 {
        font-size: 12px;
        color: $primary-color;
    }

    .spinner {
        margin: 20px auto;
    }

    .separator {
        width: calc(100% - 20px);
        background: mix($separator-color, white, 50%);

    }

    .svg-icon-menu {
        fill: $primary-color;
        display: block;
        width: 30px;
        height: 30px;

        &:hover {
            fill: $light-primary-color;
        }
    }

    &.collapsed {
        display: block;
        transform: translateX(-100%);

        transition: transform 0.25s;
    }

    &.collapsed.active {
        transform: none;
        z-index: 30;

        transition: transform 0.2s;
    }
}

.sidebar_section {
    margin-bottom: 15px;
}


/********
 * HEADER
 ********/

.sidebar_logo {
    width: 100%;
    display: block;
    margin-bottom: 25px;

    svg {
        margin: 0 auto;
        display: block;
        width: 100px;
        fill: $primary-color;
    }
}

.sidebar_user-info {
    margin-bottom: 15px;
    height: 20px;
}

.sidebar_user {
    float: left;
    font-size: 14px;
    color: $text-color;

    div {
        float: left;
    }

    span {
        float: left;
        @include clearfix;
    }

    &:hover {
        color: $primary-color;
    }
}

.sidebar_logout {
    float: right;
    font-size: 12px;
    font-weight: normal;
    @include clearfix;

    &:hover {
        cursor: pointer;
    }
}

.sidebar_login-buttons {
    width: 140px;
    margin: 0 auto;
}

.sidebar_login {
    float: left;
}

.sidebar_signup {
    float: right;
    @include clearfix;
}

/***************
 * CONTENT VIEWS
 ***************/

.sidebar a {
    font-weight: normal;
    color: $text-color;
    display: block;
    margin: 0 0 7px 5px;
    font-size: 14px;
    @include clearfix;

    &:hover {
        color: $primary-color;
    }

    &.selected {
        font-weight: bold;
    }

    .sidebar_icon {
        float: left;
        background: $primary-color;
         
        svg {
            fill: white;
        }
    }
}

.sidebar_no-content {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #999;
    width: 100%;
    margin: 10px 0;
}

.sidebar_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    background: #ddd;

    img {
        @include center;
    }

    .svg-icon-person {
        @include center;
        width: 70%;
        height: 70%;
    }

    .svg-icon-home {
        @include center;
        width: 80%;
        height: 80%;
    }
}

// Bookmarks

.sidebar_bookmarks {

    margin: 0 -15px 0 -15px;

    a {
        margin: 0;
    }

    h1 {
        margin-left: 15px;
    }

    .item_container {
        float: none;
        margin-bottom: 0;
    }

    .item-room {
        width: 100%;
        height: 65px;
        padding: 10px 15px;
        border: none;
    }

    .item-room_info {
        font-size: 13px;
        width: 100%;
    }

    .item-room_right, .item-room_open, .item-room_tag, .item-room_time {
        display: none;
    }

    .item-room_detail {
        font-size: 10px;
    }

    .item-room_author {
        display: block;
    }

}

a.sidebar_bookmarks-see-all {
    text-align: center;
    font-weight: normal;
    color: $primary-color;
    font-size: 12px;
    width: 100%;
    display: block;
}

// Subscriptions

.badge.sidebar_badge {
    border: 1px solid #e6e6e6;
    box-shadow: none;
    position: absolute;
    font-size: 10px;
    left: 150px;
}

// Responsiveness

.sidebar {
    // expands to fill width of screen
    @include media('<=medium') {

        &.collapsed {
            display: none;
            transition: none;
        }

        &.collapsed.active {
            display: block;
            position: absolute;
            width: 100%;
            border: none;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 30;

            transition: none;
        }

    } 
}
