.topbar {
    width: 100%;
    height: $topbar-height;
    background: white;
    padding: 0 25px;
    position: relative;
    overflow: visible;
    // display: flex;
    align-items: center;
    flex: none;

    border-bottom: 1px solid $border-color;
}

.topbar_inner {
    width: 100%;
    margin: 0 auto;
    // max-width: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.topbar_icon {
    display: inline-block;
}

.topbar_icon-small {
    display: none;
}

.topbar_icon-menu {
    width: 30px;
    height: 30px;
    z-index: 30;

    &.active {
        display: block;
    }

    .svg-icon-menu {
        fill: $button-color;
    }

    &:hover {
        cursor: pointer;
    }
}

.topbar_logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.topbar_logo, .topbar_logo-small {

    svg {
        fill: $primary-color;
    }

    &:hover {
        cursor: pointer;
    }
}

.topbar_logo-small {
    display: none;
    svg {
        width: 25px;
    }
}

.topbar_logo svg {
    width: 95px;
}

.topbar_icon-search {
    display: none;
}

.topbar_search-container {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; right: 0; bottom: 0; left: 0;
}

.topbar_search {
    pointer-events: auto;
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    width: 300px;

    .svg-icon-search {
        z-index: 10;
        display: block;
        @include centerY;
        width: 18px;
        left: auto;
        right: 12px;
        padding-top: 3px;
    }
}

input.topbar_search-bar {
    width: 100%;
    height: 33px;
    border-radius: 8px;
    padding: 5px 40px 5px 10px;
    font-size: 14px;
    font-weight: 300;
    color: $text-color;

    &::placeholder {
        color: #ccc;
    }
}

.topbar_right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .topbar_icon {
        margin-right: 15px;
    }
}

.topbar_icon-user {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #ddd;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        @include center;
    }

    .svg-icon-person {
        @include center;
        width: 70%;
        height: 70%;
    }

    &:hover {
        cursor: pointer;
    }
}

.topbar_icon-notifications, .topbar_icon-upload, .topbar_icon-search {
    padding-top: 3px;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}

.topbar_notifications-badge {
    background: $primary-color;
    color: white;
    position: absolute;
    font-size: 12px;
    padding: 1px 4px;
    border-radius: 4px;
    top: 0;
    left: 20px;
}

.btn.topbar_login {
    font-size: 14px;
    background: none;
    color: $primary-color;
    font-weight: 500;
    &:hover {
        background: none;
        color: $light-primary-color;
        cursor: pointer;
    }
}

.btn.topbar_signup {
    font-size: 14px;
    font-weight: 500;
}

.dropdown-topbar {
    position: absolute;
    top: 58px;
    right: 10px;
}

// Responsiveness

.topbar {
    @include media('<=medium') {

        .topbar_logo-container {
            margin-left: 15px;
            width: auto;
            justify-content: flex-start;
        }

        .topbar_logo {
            display: none;
        }

        .topbar_logo-small {
            display: block;
        }

        .topbar_search-container {
            justify-content: flex-start;
        }

        .topbar_search {
            max-width: calc(100% - 300px);
            margin-left: 120px;
            z-index: 10;
        }
    }

    @include media('<=small') {
        
        .topbar_inner {
            justify-content: space-between;
        }

        .topbar_icon-small {
            display: block;
        }

        .topbar_right {
            display: none;
        }

        .topbar_logo-container.topbar-logged-in {
            display: none;
        }

        .topbar_logo-container.topbar-guest {
            margin: 0;
        }

        .topbar_icon-search {
            display: block;
        }

        .topbar_search {
            display: none;
        }

        .topbar_signup {
            display: none;
        }

        .topbar_upload {
            display: none;
        }

        .btn.topbar_login {
            padding-right: 0;
        }
    }
}