.category {
    padding: 15px;
    height: 100%;
    overflow: auto;

    .spinner-category {
        margin: 20px auto;
    }

    .spinner-category-rooms {
        margin: 20px auto; 
    }
}

.category_header {
    font-weight: bold;
    font-size: 24px;
    color: $text-color;
    margin-bottom: 10px;
}

.category_filters {
    margin-bottom: 10px;
}

.category_filter {
    margin-right: 20px;
    padding-bottom: 5px;
    color: #666;

    &.selected {
        border-bottom: 3px solid $primary-color;
        color: $text-color;
        &:hover {
            border-bottom: 3px solid $primary-color;
        }
    }

    &:hover {
        border-bottom: 3px solid mix(white, $light-primary-color, 80%);
    }
}

.category_stacks {

    width: 100%;

    .item-room_channel {
        display: none;
    }

    .item-room_author {
        display: block;
    }
}

.category_no-content {
    font-size: 14px;
    padding-top: 10px;
    font-style: italic;
    color: #888;
    display: block;
}
