/* Variables */

$company-light-background: #f2f4f8;
$company-drop-shadow: rgba(#204fb8, 0.11);

/* Layout */

.topbar-company_link {
    font-size: 15px;
    font-weight: 600;
    color: #47546e;
    margin-left: 20px;

    @include media("<400px") {
        margin-left: 15px;
        font-size: 14px;
    }

    &:hover {
        color: #47546e;
        text-decoration: underline;
    }

    &:visited {
        color: #47546e;
    }
}

.topbar-company {
    @include media("<=medium") {
        .topbar_logo {
            display: block;
        }

        .topbar_logo-small {
            display: none;
        }
    }

    @include media("<=small") {
        .topbar-company_right {
            display: flex;
        }

        .topbar_logo {
            display: none;
        }

        .topbar_logo-small {
            display: block;
        }

        .topbar_logo-container {
            margin-left: -5px;
        }
    }
}

.company_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: $topbar-height;
    background: #fbfbfb;
    overflow: auto;
}

/* Company-wide styles */

.company {
    p, h1, h2 {
        margin: 0;
    }
    -webkit-overflow-scrolling: touch;
}

.company_button {
    font-weight: 300;
    text-align: center;
    display: inline-block;
    background: $primary-color;
    color: #fff;
    padding: 18px 23px;
    border-radius: 10px;
    box-shadow: 0 5px 0 $company-drop-shadow;

    &:hover {
        color: #fff;
        background: $light-primary-color;
    }

    &:visited {
        color: #fff;
    }
}

.footer-company {
    background: #35373a;
    box-shadow: 0 500px 0 500px #35373a;

    .footer_copyright {
        opacity: 0.55;
    }
}

@import 'company/about';
@import 'company/advertising';
@import 'company/creators';
@import 'company/contact';
@import 'company/legal';
