/* Variables */

$company-light-background: #f2f4f8;
$company-drop-shadow: rgba(#204fb8, 0.11);

/* Layout */

.topbar-company_link {
    font-size: 15px;
    font-weight: 600;
    color: #47546e;
    margin-left: 20px;

    @include media("<400px") {
        margin-left: 15px;
        font-size: 14px;
    }

    &:hover {
        color: #47546e;
        text-decoration: underline;
    }

    &:visited {
        color: #47546e;
    }
}

.topbar-company {
    @include media("<=medium") {
        .topbar_logo {
            display: block;
        }

        .topbar_logo-small {
            display: none;
        }
    }

    @include media("<=small") {
        .topbar-company_right {
            display: flex;
        }

        .topbar_logo {
            display: none;
        }

        .topbar_logo-small {
            display: block;
        }

        .topbar_logo-container {
            margin-left: -5px;
        }
    }
}

.company_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: $topbar-height;
    background: #fbfbfb;
    overflow: auto;
}

.company_footer {
    background: #35373a;
    padding: 23px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 300;
    box-shadow: 0 500px 0 500px #35373a; // extends footer to bottom of screen if necessary

    @include media("<=small") {
        padding: 18px 30px;
    }

    @include media("<400px") {
        flex-direction: column;
        .company_footer_copyright {
            margin-bottom: 10px;
        }
    }
}

.company_footer_copyright {
    color: #a6a7ab;
}

a.company_footer_link {
    color: #fff;
    font-weight: 300;
    margin-left: 12px;

    &:hover {
        color: #a6a7ab;
    }
}

/* Company-wide styles */

.company {
    p, h1, h2 {
        margin: 0;
    }
}

.company_button {
    font-weight: 300;
    text-align: center;
    display: inline-block;
    background: $primary-color;
    color: #fff;
    padding: 18px 23px;
    border-radius: 10px;
    box-shadow: 0 5px 0 $company-drop-shadow;

    &:hover {
        color: #fff;
        background: $light-primary-color;
    }

    &:visited {
        color: #fff;
    }
}

@import 'company/about';
@import 'company/advertising';
@import 'company/contact';
@import 'company/legal';
