$creator-box-shadow: 0 2px 4px -1px rgba(0,0,0,.06), 0 2px 2px -2px rgba(0,0,0,.02), 0 1px 4px 0 rgba(0,0,0,.04);

.creator {
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;

    .spinner {
        margin: 30px auto;
    }
}

.creator_section {
    margin-top: 30px;

    &:first-child {
        margin-top: 20px;
    }
}

.creator_section_title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.creator_section_description {
    color: #777;
    font-size: 13px;
    max-width: 600px;
    font-weight: 400;
    margin-top: 4px;
}

.creator_section_not-found {
    color: #777;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

@import 'creator/community';
@import 'creator/stats';