.dropdown-notifications {
    position: absolute;
    top: 53px;
    right: 145px;
    width: 430px;
    height: 300px;
}

.notification-item {
    padding: 12px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.notification-item_thumbnail {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    border-radius: 7px;
    width: 35px;
    height: 35px;
    background: #ddd;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .svg-icon-person {
        @include center;
        width: 70%;
        height: 70%;
    }
}

.notification-item_main {
    display: inline-block;
    margin-left: 10px;
}

.notification-item_text {
    font-size: 14px;
    font-weight: 400;
    color: $text-color;

    strong {
        font-weight: 500;
    }
}

.notification-item_timestamp {
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
    color: $detail-text-color;
}

