.profile {
    overflow: auto;
    height: 100%;
    
    .spinner-profile {
        margin: 50px auto;
    }
}

.profile_user-container {
    width: 100%;
    @include media('<=medium') {
        text-align: center;
    }
}

