.profile {
    overflow: auto;
    height: 100%;
    
    .spinner-profile {
        margin: 50px auto;
    }

    .spinner-profile-rooms {
        margin: 50px auto;
    }
}

.profile_inner {
    width: 100%;
    max-width: 960px;
    padding: 15px;
}

.profile_header {
    font-weight: bold;
    color: $text-color;
    margin-bottom: 10px;
    margin-top: 20px;
}

.profile_rooms {
    width: 100%;
    @include clearfix;
    display: flex;
    flex-wrap: wrap;
}

.profile_user-container {
    width: 100%;
    @include media('<=medium') {
        text-align: center;
    }
}

