.profile {
    overflow: auto;
    height: 100%;
    padding: 15px;
}

.profile_header {
    font-weight: bold;
    color: $text-color;
    margin-bottom: 10px;
    margin-top: 20px;
}

.profile {
    .item-room {
        display: inline-block;
        margin: 0 0 5px 5px;
    }
}

