.room {
    position: relative;
    height: 100%;
}

/********
 * PLAYER
 ********/

.player-container {
    margin-right: $detail-bar-width;
    height: 100%;
    overflow: hidden;
}

.player {
    height: 100%;
    width: 100%;
    padding: 15px;
    overflow-y: scroll;
}

.player_header {
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin-bottom: 10px;
}

.player_main {
    position: relative;
}

.player_media {
    margin: auto;
    height: 550px;
    width: 550px * 9 / 16;

    img, video {
        width: 100%;
        height: 100%;
    }
}

.player_navigation {
    width: 130px;
    height: 50px;
    margin: 0 auto;
}

.player_nav-button {
    height: 50px;
    width: 50px;

    .svg-icon-chevron-left, .svg-icon-chevron-right {
        height: 50px;
        width: 50px;
        fill: $primary-color;

        &:hover {
            fill: $light-primary-color;
        }
    }
}

.player_nav-backward {
    float: left;
}

.player_nav-forward {
    float: right;
    @include clearfix;
}

.player_counter {
    position: absolute;
    top: 0;
    height: 40px;
    right: 0;
    width: 100px;
    text-align: right;
    color: #666;
    font-size: 17px;

    .selected {
        font-weight: bold;
    }
}

// Info

.player_info {
    background-color: white;
    border: 1px solid $border-color;
    padding: 10px;
    margin-bottom: 20px;
}

.separator-player_info {
    width: calc(100% - 20px);
    background-color: #e6e6e6;
    margin-top: 10px;
}

.player_description {
    font-size: 15px;
    min-height: 40px;
    height: 40px; // Firefox fix
    display: table;

    & > span {
        vertical-align: middle; 
        display: table-cell;
    }
}

.player_open {
    color: $success-color;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
}

.player_buttons {
    margin-top: 10px;
}

.player_button {
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
}

.player_button-share {

    color: $button-color;

    &:hover {
        color: mix(white, $button-color, 40%);
        svg {
            fill: mix(white, $button-color, 40%);
        }
    }

    span {
        margin-left: 0;
        height: 100%;
        line-height: 25px;
        display: inline-block;
        vertical-align: middle;
    }

    .svg-icon-share {
        width: 15px;
        height: 15px;
        margin: 0 6px 5px 0;
    }
}

// More

.player_more {

    .item-room {
        width: 260px;
        height: 100px;
        margin: 0 0 5px 5px;
        display: inline-block;
    }

    .item-room_time, .item-room_channel {
        display: none;
    }

    .item-room_author {
        display: block;
    }
}


/************
 * DETAIL BAR
 ************/

.detail-bar {
    position: absolute;
    width: $detail-bar-width;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
    border-left: 1px solid $border-color;
}

.detail-bar_header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.detail-bar_tab-container {
    margin: 0 auto;
    height: 100%;
    display: inline-block;
}

.detail-bar_tab {
    height: 100%;
    color: #888;
    padding: 0 10px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    margin-right: 30px;

    &.selected {
        border-bottom: 5px solid $light-primary-color;
        color: $text-color;
        &:hover {
            border-bottom: 5px solid $light-primary-color;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-bottom: 5px solid mix(white, $light-primary-color, 80%);
    }
}

.detail-bar_main {
    overflow: hidden;
    height: calc(100% - 40px);
}

/******
 * CHAT
 ******/

.chat {
    width: 100%;
    background: #fff;
    height: 100%;
}

.chat_history {
    overflow: auto;
    height: calc(100% - 105px);
    width: 100%;
    padding: 3px;
    // border-bottom: 1px solid #eee;
}

.chat_items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chat_item {
    font-size: 13px;
    margin: 12px 0 0 12px;

    a {
        color: $primary-color;
    }

    strong {
        color: $primary-color;
    }

    strong.creator {
        color: white;
        background-color: $primary-color;
        padding: 0 3px;

        a {
            color: white;
        }
    }
}

.chat_item-notification {
    color: #999;
    font-style: italic;
}

.chat_compose {
    height: 105px;
    width: 100%;
    margin-top: -5px;

    textarea {
        width: 100%;
        margin: 0;
        height: 50px;
        resize: none;
        padding: 7px;
        font-size: 13px;
        border: 1px solid #ccc;
    }

    .btn {
        display: block;
        float: right;
        margin-top: 5px;
    }

}

.chat_compose-inner {
    margin: 15px 15px 5px;
}

.chat_compose-notification {
    text-align: center;
    margin-top: 40px;
    font-style: italic;
    color: #999;
}

/**********
 * ACTIVITY
 **********/

.activity {
    height: 100%;   
    position: relative;
}

.activity_inner {
    height: 100%;
    overflow: auto;
}

.activity_new-media {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 5px;
    background-color: rgba($secondary-color, 0.85);
    text-align: center;
    color: #fff;
    font-weight: bold;
}