.room {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .spinner {
        margin: 20px auto;
    }
}

.room_inner {
    position: relative;
    flex: 1 0;
}

@import 'room/activity';
@import 'room/ads';
@import 'room/chat';
@import 'room/detail-bar';
@import 'room/player';
@import 'room/shop';