.support {
    overflow: auto;
    height: 100%;
    font-size: 14px;

    input {
        font-size: 14px;
        width: 300px;
        display: block;
        margin-bottom: 10px;
    }

    .has-error {
        color: $error-color;
    }
}

.support_submit {
    margin-top: 15px;
}