.tag {
    padding: 15px;
    height: 100%;
    overflow: auto;

    .spinner-tag {
        margin: 20px auto;
    }

    .spinner-tag-rooms {
        margin: 20px auto; 
    }
}

.tag_header {
    font-weight: 400;
    font-size: 30px;
    color: $text-color;
    margin: 10px 0 25px 0;
}

.tag_filters {
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}

.tag_filter {
    margin-right: 20px;
    padding: 0 3px 5px 3px;
    font-size: 16px;
    color: #666;

    &.selected {
        border-bottom: 5px solid $light-primary-color;
        color: $text-color;
        &:hover {
            border-bottom: 5px solid $light-primary-color;
        }
    }

    &:hover {
        border-bottom: 5px solid mix(white, $light-primary-color, 80%);
        cursor: pointer;
    }
}

.tag_stacks {
    margin-top: 40px;
    width: 100%;

    .item-room_tag {
        display: none;
    }

    .item-room_author {
        display: block;
    }

    display: flex;
    flex-wrap: wrap;
}

.tag_no-content {
    font-size: 14px;
    padding-top: 10px;
    font-style: italic;
    color: #888;
    display: block;
}
