.tag {
    padding: 15px;
    height: 100%;
    overflow: auto;
    position: relative;
    
    .spinner-tag {
        margin: 20px auto;
    }

    .spinner-tag-rooms {
        margin: 20px auto; 
    }
}

.tag_header {
    font-weight: 400;
    font-size: 30px;
    color: $text-color;
    margin: 10px 0 25px 0;
}

.tag_times {
    position: absolute;
    top: 40px;
    right: 15px;
    color: $detail-text-color;
    font-size: 14px;
    width: 80px;

    a {
        color: $detail-text-color;
        text-decoration: underline;
        font-weight: normal;

        &:hover {
            cursor: pointer;
        }
    }

    .svg-icon-arrow-drop-down {
        position: absolute;
        right: 0;
        top: -3px;
        width: 25px;
        height: 25px;
    }
}

.tag_dropdown {
    display: none;
    background: white;
    margin-top: 5px;
    border: 1px solid $border-color;
    padding: 5px;
    padding-bottom: 0;
    margin-left: -5px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 5px;
        color: $primary-color;

        &:hover {
            cursor: pointer;
            color: $light-primary-color;
        }
    }
}

.tag_stacks {
    margin-top: 40px;
    width: 100%;

    .item-room_tag {
        display: none;
    }

    .item-room_author {
        display: block;
    }

    display: flex;
    flex-wrap: wrap;
}

.tag_no-content {
    font-size: 14px;
    padding-top: 10px;
    font-style: italic;
    color: #888;
    display: block;
}
