.upload {
    padding: 15px;
    overflow: auto;
    height: 100%;
}

.upload_header {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 18px;
    border-bottom: 1px solid $separator-color;
}


// File Select

.upload_file-select {
    margin: 40px auto;
    width: 270px;
    height: 200px;
    background-color: $dark-background-color;
    border-radius: 5px;
    border: 2px dashed $border-color;
    position: relative;

    .svg-icon-file-upload {
        width: 90px;
        height: 90px;
        display: block;
        fill: #c6c6c6;
        margin: 35px auto 0 auto;
    }

    &.dragging {
        background-color: mix($primary-color, white, 5%);

        .svg-icon-file-upload {
            fill: $primary-color;
        }
    }
}

.upload_file-input {
    display: none;
}

.upload_select-label {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 5px 0;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

.upload_drag-label {
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.upload_file-name-label {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}


// Progress bar

.upload_progress-bar_data {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}

.upload_progress-bar_percent {
    font-weight: 400;
}

.upload_progress-bar {
    width: 100%;
    height: 10px;
    border: 1px solid $border-color;
    position: relative;
}

.upload_progress-bar_progress {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $primary-color;
    transform-origin: left top;
    transition: transform 0.3s;
}


