.chat_history_container {
    position: relative;
    flex: 1 0;
    overflow: auto;
}

.chat_history {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 3px 0;

    &.scrollable {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .spinner {
        margin: 10px auto;
    }
}

.chat_history_error {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    font-size: 13px;
    font-style: italic;
    color: #888;
}

.chat_history_new-messages {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 30;
    width: auto;
    white-space: nowrap;
    background: rgba(#000, 0.6);
    color: #fff;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }
}

.chat_history_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 50;
}

.chat_items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


// Chat item

.chat_item {
    position: relative;
    font-size: 13px;
    margin: 12px 0 0;
    padding: 0 8px 0 12px;
    white-space: pre-wrap;
    word-wrap: break-word;

    &.chat_item-no-header {
        margin-top: 10px;
    }

    .dropdown {
        top: 25px;
        right: 0;
        text-align: right;
        width: 78px;

        a.dropdown-option {
            font-size: 12px;
            padding: 4px 0;
        }
    }
}

.chat_item-highlighted {
    background: mix(white, $secondary-color, 85%);
    margin: 12px 0 0;
    padding: 8px 8px 10px 12px;
}

.chat_item_header {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.chat_item_header_main {
    display: flex;
    align-items: center;
}

.chat_item_referenced {
    position: absolute;
    display: flex;
    top: 8px;
    right: 10px;
    padding: 1px 7px 2px 4px;
    color: white;
    font-size: 10px;
    font-weight: 500;
    background-color: $light-secondary-color;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    .svg-icon-reply {
        display: inline-block;
        width: 15px;
        height: 15px;
        fill: #fff;
        margin-right: 1px;
    }

    &:hover {
        background-color: mix(white, $light-secondary-color, 20%);
    }

    .chat_item.show-options:hover & {
        margin-right: 10px;
    }
}

.chat_item_options {
    position: absolute;
    right: 0;
    top: 0;
    display: none;

    &.dropdown-active {
        display: block;
    }

    .svg-icon-more-vert {
        width: 20px;
        height: 20px;
    }

    .chat_item.show-options:hover & {
        display: block;
    }

    .chat_item-highlighted & {
        top: 8px;
    }
}   

.chat_item_username {
    color: $secondary-color;
    font-weight: bold;
    cursor: pointer;

    &.creator {
        color: $primary-color;
        a {
            color: $primary-color;
        }
    }

    .chat_item-chatbot & {
        color: $text-color;
        cursor: auto;
    }
}

.chat_item_timestamp {
    color: #b3b3b3;
    font-size: 11px;
    font-style: italic;
    padding-left: 5px;
}

a.chat_item_mention {
    font-weight: normal;
    color: $secondary-color;
    &:hover {
        color: $light-secondary-color;
        cursor: pointer;
    }
}

.chat_item_highlight {
    background: #ddd;
    padding: 1px 3px;
}

.chat_item_emoji {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.chat_item_private {
    color: $detail-text-color;
    font-weight: 300;
    font-style: italic;
    margin-left: 5px;
}

.chat_item_body-private {
    color: $detail-text-color;
}

.chat_item-submitting {
    color: #aaa;
}

.chat_item-failed {
    color: $error-color;
}

a.chat_item-failed_retry {
    background-color: $error-color;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    margin-left: 5px;
}

.chat_live-mention {
    color: $detail-text-color;
}


// Notification comments

.chat_item-notification {
    display: flex;
    align-items: center;
    background-color: mix(white, $primary-color, 90%);
    margin: 12px 0 0;
    padding: 8px 8px 10px 12px;
    cursor: pointer;

    &:hover {
        background-color: mix(white, $primary-color, 93%);
    }
}

.chat_item-notification_thumb {
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 38px;
    width: 51px;
}

.chat_item-notification_text {
    margin-left: 10px;
    .chat_item_username {
        color: $primary-color;
    }
}


// Other styles

.chat_history-compact {

    .chat_items {
        margin-top: 4px;
    }

    .chat_item {
        font-size: 12px;
        margin-top: 8px;
    }

    .chat_item-highlighted {
        margin-top: 8px;
    }

    .chat_item_referenced {
        display: none;
    }

    .chat_item-notification {
        margin: 8px 0 0;
        font-size: 12px;

        .chat_item-notification_thumb {
            display: none;
        }

        .chat_item-notification_text {
            margin-left: 0;
        }
    }
}

.chat_history-small-fixed {

    .chat_items {
        margin-top: 4px;
    }

    .chat_item {
        font-size: 12px;
        margin-top: 8px;
    }

    .chat_item_header {
        display: inline;
        margin-right: 5px;
    }

    .chat_item_header_main {
        display: inline;
    }

    .chat_item_header_info {
        display: inline;
    }

    .chat_item_timestamp {
        display: none;
    }

    .chat_item_body { 
        display: inline;
    }

    .chat_item-highlighted {
        margin: 8px 12px 0 12px;
        padding: 0;
        background: none;
    }

    .chat_item_referenced {
        display: none;
    }

    .chat_item-notification {
        font-size: 12px;
        margin: 8px 12px 0 12px;
        padding: 0;
        background: none;

        color: $detail-text-color;
        font-style: italic;

        .chat_item-notification_thumb {
            display: none;
        }

        .chat_item-notification_text {
            margin-left: 0;
        }
    }
}

