.chat_item {
    position: relative;
    font-size: 13px;
    margin-top: 12px;
    padding: 0 8px 0 12px;
    white-space: pre-wrap;
    word-wrap: break-word;

    &.chat_item-no-header {
        margin-top: 10px;
    }

    .dropdown {
        top: 20px;
        right: 13px;
        text-align: right;
        width: 78px;

        a.dropdown-option {
            font-size: 12px;
            padding: 4px 0;
        }
    }

    &:first-child {
        margin-top: 0;
    }
}

.chat_item-highlighted {
    background: #f0f0f0;
    margin: 12px 0 0;
    padding: 8px 8px 10px 12px;
}

.chat_item-is-referenced {
    background: mix(white, $secondary-color, 85%);
}

.chat_item_tooltip {
    background: rgba(#000, 0.8);
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s;
}


// Header

.chat_item_header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.chat_item_header {
    display: flex;
    align-items: baseline;
}

.chat_item_username {
    color: $secondary-color;
    font-weight: bold;
    cursor: pointer;

    .chat_item_header-bot & {
        color: $text-color;
        cursor: auto;
    }

    .chat_item_header-creator & {
        color: $primary-color;
    }
}

.chat_item_timestamp {
    color: #b3b3b3;
    font-size: 11px;
    padding-left: 6px;
}

.chat_item_private {
    color: $detail-text-color;
    font-weight: 300;
    font-style: italic;
    margin-left: 5px;
}

.chat_item_badge {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.chat_item_badge-user, &.chat_item_badge-verified {
        display: none;
    }

    &.chat_item_badge-bot {
        background-image: url(../public/images/emoji/robot_64px.png);
    }

    &.chat_item_badge-moderator {
        background-image: url(../public/images/emoji/star_64px.png);
    }

    &.chat_item_badge-creator {
        background-image: url(../public/images/emoji/crown_64px.png);
    }

    &.chat_item_badge-staff {
        background-image: url(../public/images/emoji/wrench_64px.png);
    }
}

.chat_item_tooltip-badge {
    @include triangle(rgba(#000, 0.8), 14px, 5px);
    
    position: absolute;
    left: -6px;
    bottom: 25px;
}

.chat_item_badge:hover .chat_item_tooltip-badge {
    opacity: 1;

    .chat_item-pinned-comment & {
        opacity: 0;
    }

    @media (-moz-touch-enabled: 1), (hover: none), (hover: on-demand) {
        opacity: 0;
    }

    &:hover {
        opacity: 0;
    }
}

// Header Right

.chat_item_header_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .chat_history-expanded .chat_item.show-options & {
        margin-right: 16px;
    }
}

.chat_item_header_right_divider {
    color: #aaa;
    margin: 0 5px;
}

.chat_item_referenced {
    display: flex;
    align-items: center;
    color: $secondary-color;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;

    .svg-icon-reply {
        display: inline-block;
        width: 15px;
        height: 15px;
        fill: $secondary-color;
        margin-right: 4px;
    }

    &:hover {
        text-decoration: underline;
    }

    .chat_item.show-options:hover & {
        margin-right: 10px;
    }
}

.chat_item_referenced_inner {
    display: flex;
    align-items: center;
}

.chat_item_options {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;

    .chat_item.show-options:hover & {
        display: block;
        cursor: pointer;
    }

    .svg-icon-reply {
        width: 18px;
        height: 18px;
    }

    .chat_item-highlighted & {
        top: 8px;
    }
} 

.chat_item_tooltip-options {
    @include triangle(rgba(#000, 0.8), calc(100% - 13px), 5px);

    white-space: nowrap;
    position: absolute;
    pointer-events: none;
    right: -3px;
    bottom: 27px;
}

.chat_item_options:hover .chat_item_tooltip-options {
    opacity: 1;

    @media (-moz-touch-enabled: 1), (hover: none), (hover: on-demand) {
        opacity: 0;
    }

    &:hover {
        opacity: 0;
    }
}

// Body

.chat_item_body {
    position: relative;

    .chat_item.show-options & {
        margin-right: 20px;
    }
}

.chat_item_body-private {
    color: $detail-text-color;
}

.chat_item-submitting {
    color: #aaa;
}

.chat_item-failed {
    color: $error-color;
}

a.chat_item-failed_retry {
    background-color: $error-color;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    margin-left: 5px;
}

.chat_live-mention {
    color: $detail-text-color;
}

// Annotations

a.chat_item_mention {
    font-weight: normal;
    color: $secondary-color;
    cursor: pointer;
    &:hover {
        color: $light-secondary-color;
    }
}

a.chat_item_hashtag {
    font-weight: normal;
    color: #888;
    cursor: pointer;
    &:hover {
        color: $light-primary-color;
    }
}

.chat_item_highlight {
    background: rgba(#000, 0.12);
    padding: 1px 3px;
}


// Notification comments

.chat_item-notification {
    display: flex;
    align-items: center;
    background-color: mix(white, $primary-color, 90%);
    cursor: pointer;

    &:hover {
        background-color: mix(white, $primary-color, 93%);
    }
}

.chat_item-notification_thumb {
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 38px;
    width: 51px;
}

.chat_item-notification_text {
    margin-left: 10px;
    .chat_item_username {
        color: $primary-color;
    }
}

// Search chat item

.chat_item-search {
    margin: 0;
    position: relative;
    user-select: none;

    &.chat_item-highlighted {
        padding: 0 8px 0 12px;
    }

    .chat_item_inner {
        margin: 0 7px;
        padding: 10px 0;
        border-bottom: 1px solid $border-color;
    }

    .chat_item_options {
        top: 8px;
    }

    .dropdown {
        top: 28px;
    }
}

.chat_item-search_jump {
    color: #999;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

// Other styles

.chat_history-compact {

    .chat_items {
        margin-top: 4px;
    }

    .chat_item {
        font-size: 12px;
        margin-top: 8px;
    }

    .chat_item-highlighted {
        margin-top: 8px;
    }

    .chat_item_referenced {
        display: none;
    }

    .chat_item-notification {
        margin: 8px 0 0;
        font-size: 12px;

        .chat_item-notification_thumb {
            display: none;
        }

        .chat_item-notification_text {
            margin-left: 0;
        }
    }
}

.chat_history-small {

    .chat_items {
        margin-top: 4px;
    }

    .chat_item {
        font-size: 12px;
        margin-top: 8px;
    }

    .chat_item_header_container {
        display: inline;
        margin-right: 5px;
    }

    .chat_item_header {
        display: inline-flex;
    }

    .chat_item_header_right {
        display: inline;
    }

    .chat_item_header_info {
        display: inline;
    }

    .chat_item_timestamp {
        display: none;
    }

    .chat_item_body { 
        display: inline;
    }

    .chat_item-highlighted {
        margin: 8px 12px 0 12px;
        padding: 0;
        background: none;
    }

    .chat_item_referenced {
        display: none;
    }

    .chat_item-notification {
        font-size: 12px;
        margin: 8px 12px 0 12px;
        padding: 0;
        background: none;

        color: $detail-text-color;
        font-style: italic;

        .chat_item-notification_thumb {
            display: none;
        }

        .chat_item-notification_text {
            margin-left: 0;
        }
    }

    .chat_item.show-options:hover .chat_item_options {
        display: none;
    }
}
