.activity {
    height: 100%;   
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.activity_header {
    height: 35px;
    border-bottom: 1px solid $border-color;
    background: white;
    position: relative;
}

.activity_close {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 50px;
}

.activity_time {
    position: absolute;
    right: 0;
    top: 0;
    color: #777;
    font-size: 13px;
    padding-right: 10px;
    line-height: 35px;
    text-align: right;
}

.activity_inner {
    height: calc(100% - 35px);
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.activity_new-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 5px;
    background-color: rgba($secondary-color, 0.85);
    text-align: center;
    color: #fff;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

// Activity Item

.activity-item {
    background-color: #fff;
    position: relative;
    cursor: pointer;

    &.selected {
        background-color: #f6f6f6;
    }

    &.current-user {
        .activity-item_inner {
            margin-right: 15px;
        }
    }

    .dropdown {
        position: absolute;
        right: 10px;
        top: 33px;
        width: 95px;
        text-align: right;

        a.dropdown-option {
            font-size: 12px;
            padding: 4px 0;
        }
    }
}

.activity-item_inner {
    margin: 0 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.activity-item_main {
    display: flex;
    margin-bottom: 10px;
}

.activity-item_thumb {
    height: 50px;
    width: 50px * 4 / 3;

    overflow: hidden;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.activity-item_content {
    font-size: 14px;
    color: $text-color;
    margin-left: 10px;
}

.activity-item_description {
    margin-top: 6px;
    margin-bottom: 12px;
}

.activity-item_timestamp {
    margin-left: 5px;
    font-size: 12px;
    color: #aaa;
    font-style: italic;
    white-space: pre;
}

.activity-item_title {
    color: #808080;
}

.activity-item_comment {
    font-size: 13px;
    font-weight: 400;
    background: mix(#fff, $secondary-color, 85%);
    padding: 8px 11px;
}

.activity_item_comment_header {
    margin-bottom: 5px;
}

.activity-item_comment_username {
    color: $secondary-color;
    font-weight: 700;
}

.activity-item_comment_timestamp {
    color: rgba(#000, 0.4);
    font-size: 11px;
    font-style: italic;
    margin-left: 5px;
}

.activity-item_options {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;

    .svg-icon {
        width: 20px;
        height: 20px;
        fill: #bbb;
        position: absolute;
        top: 9px;
        right: 2px;
    }

    &:hover {
        cursor: pointer;
        .svg-icon {
            fill: #ccc;
        }
    }
}
