.ad-banner-nb {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-start;
    background: #ffe49d;

    &::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;

        padding-top: 20%;

        @include media('>small') {
            padding-top: 12.5%;
        }

        @include media('>medium') {
            padding-top: 25%;            
        }
  
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.ad-banner-nb_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    z-index: 1;
}

.ad-banner-nb_image-large {
    @include media('>medium') {
        z-index: 50;
    }
}

.ad-banner-nb_image-medium {
    @include media('>small', '<=medium') {
        z-index: 50;
    }
}

.ad-banner-nb_image-small {
    @include media('<=small') {
        z-index: 50;
    }
}

.ad-banner-nb_sponsor {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #777;
    font-size: 11px;
    text-align: right;
}

.ad-banner-nb_title {
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0 0 10px;
}

.video_container-ad {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        content: '';
        background: linear-gradient(to bottom, rgba(#000,0.3) 0%, rgba(#000,0) 100%);
    }

    .player_progress-play {
        background: #ffd159;
    }
}

.video_container-ad .video_player-container {
    cursor: pointer;
}

.ad-video_sponsor {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    font-size: 13px;
    font-weight: 100;
    color: #fff;
    z-index: 30;
}

.ad-video_click-box {
    width: 100%;
    height: 100%;
    position: absolute;
}

.ad-video_visit {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 9px 12px;
    background: rgba(#000, 0.25);
    border: 1px solid rgba(#000, 0.2);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}