.chat {
    width: 100%;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

@import 'chat/banners';
@import 'chat/compose';
@import 'chat/header';
@import 'chat/history';
@import 'chat/pinned-chat';
@import 'chat/search';
@import 'chat/small-chat';