.detail-bar {
    position: absolute;
    width: $detail-bar-width;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
    border-left: 1px solid $border-color;

    .dropdown-stack-actions-detail-bar {
        position: absolute;
        right: 10px;
        top: 35px;
        width: 110px;
        text-align: right;
    }

    &.detail-bar-disable-animations {
        transition-duration: 0s;
    }

    @include media('<=medium') {
        // visibility: hidden;
        position: absolute;
        border: none;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1001;
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 225ms;
        transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);

        &.active {
            transform: none;
            transition-duration: 275ms;
            transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        }

        .detail-bar_header {
            display: none;
        }

        .detail-bar_main {
            height: 100%;
        }
    }

    @include media('<=small') {
        transition-duration: 195ms;
        &.active {
            transition-duration: 225ms;
        }
    }
}

// layout

.detail-bar_header {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eee;
    text-align: center;
    position: relative;
    // background: #f6f6f6;
}

.detail-bar_toggle-edit {
    position: absolute;
    right: 3px;
    top: 4px;

    .svg-icon-more-vert {
        fill: #a3a3a3;
        width: 20px;
        height: 20px;

        &:hover {
            fill: #b6b6b6;
            cursor: pointer;
        }
    }
}


.detail-bar_tab-container {
    margin: 0 auto;
    height: 100%;
    display: inline-block;
}

.detail-bar_tab {
    height: 100%;
    color: #888;
    padding: 0 10px;
    display: inline-block;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 30px;
    position: relative;

    &.selected {
        border-bottom: 5px solid $secondary-color;
        color: $text-color;
        &:hover {
            border-bottom: 5px solid $secondary-color;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-bottom: 5px solid mix(white, $secondary-color, 60%);
        cursor: pointer;
    }
}

.detail-bar_main {
    overflow: hidden;
    position: relative;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    .spinner {
        margin: 10px auto;
    }
}

.detail-bar_close {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: rgba(#777, 1.0);
    z-index: 50;
    // box-shadow: 2px 2px 2px rgba(#000, 0.2);
    color: #fff;
    text-align: center;
    font-size: 12px;

    .svg-icon-close {
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-right: 4px;
    }

    &:hover {
        cursor: pointer;
        .svg-icon-close {
            fill: #eee;
        }
        color: #eee;
    }
}

// Badges

.detail-bar_activity-badge {
    position: absolute;
    left: 100%;
    display: inline-block;
    top: 0;
}

.detail-bar_activity-badge_inner {
    background-color: $primary-color;
    color: white;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
}
