.detail-bar {
    position: absolute;
    width: $detail-bar-width;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
    border-left: 1px solid $border-color;

    @include media('<=medium') {
        // visibility: hidden;
        position: absolute;
        border: none;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1001;
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 225ms;
        transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);

        &.active {
            transform: none;
            transition-duration: 275ms;
            transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        }

        .detail-bar_header {
            display: none;
        }

        .detail-bar_main {
            height: 100%;
        }
    }

    @include media('<=small') {
        transition-duration: 195ms;
        &.active {
            transition-duration: 225ms;
        }
    }
}

// layout

.detail-bar_header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eee;
    text-align: center;
    position: relative;
}

.detail-bar_toggle-edit {
    position: absolute;
    right: 3px;
    top: 6px;

    .svg-icon-more-vert {
        fill: #aaa;
        width: 25px;
        height: 25px;

        &:hover {
            fill: #bbb;
            cursor: pointer;
        }
    }
}


.dropdown-detail-bar {
    position: absolute;
    right: 10px;
    top: 35px;
    width: 110px;
    text-align: right;
}


.detail-bar_tab-container {
    margin: 0 auto;
    height: 100%;
    display: inline-block;
}

.detail-bar_tab {
    height: 100%;
    color: #888;
    padding: 0 10px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    margin-right: 30px;
    position: relative;

    &.selected {
        border-bottom: 5px solid $light-primary-color;
        color: $text-color;
        &:hover {
            border-bottom: 5px solid $light-primary-color;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-bottom: 5px solid mix(white, $light-primary-color, 80%);
        cursor: pointer;
    }
}

.detail-bar_main {
    overflow: hidden;
    position: relative;
    height: calc(100% - 40px);

    .spinner {
        margin: 10px auto;
    }
}

.detail-bar_close {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px;
    padding-bottom: 2px;
    background-color: rgba(#666, 0.9);
    z-index: 50;
    box-shadow: 2px 2px 2px rgba(#000, 0.2);

    .svg-icon-close {
        width: 24px;
        height: 24px;
        fill: #fff;
    }

    &:hover {
        cursor: pointer;
        .svg-icon-close {
            fill: $primary-color;
        }
    }
}

// Badges

.detail-bar_activity-badge {
    position: absolute;
    left: 100%;
    display: inline-block;
    top: 0;
}

.detail-bar_activity-badge_inner {
    background-color: $primary-color;
    color: white;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
}
