.detail-bar {
    position: absolute;
    width: $detail-bar-width;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
    border-left: 1px solid $border-color;

    &.collapsed {
        display: none;

        &.active {
            display: block;
            width: 100%;
            position: absolute;
            border: none;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 30;
        }

        .detail-bar_header {
            display: none;
        }

        .detail-bar_main {
            height: 100%;
        }
    }
}

// layout

.detail-bar_header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.detail-bar_tab-container {
    margin: 0 auto;
    height: 100%;
    display: inline-block;
}

.detail-bar_tab {
    height: 100%;
    color: #888;
    padding: 0 10px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    margin-right: 30px;
    position: relative;

    &.selected {
        border-bottom: 5px solid $light-primary-color;
        color: $text-color;
        &:hover {
            border-bottom: 5px solid $light-primary-color;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-bottom: 5px solid mix(white, $light-primary-color, 80%);
        cursor: pointer;
    }
}

.detail-bar_main {
    overflow: hidden;
    position: relative;
    height: calc(100% - 40px);

    .spinner {
        margin: 10px auto;
    }
}

.detail-bar_close {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 3px;
    padding-bottom: 1px;
    border: 1px solid $border-color;
    background-color: rgba(white, 0.9);
    z-index: 50;

    .svg-icon-close {
        width: 20px;
        height: 20px;
    }

    &:hover {
        cursor: pointer;
        .svg-icon-close {
            fill: $primary-color;
        }
    }
}

// Badges

.detail-bar_activity-badge {
    position: absolute;
    left: 100%;
    display: inline-block;
    top: 0;
}

.detail-bar_activity-badge_inner {
    background-color: $primary-color;
    color: white;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
}
