.player-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: $detail-bar-width;
    overflow: hidden;

    @include media('<=medium') {
        margin-right: 0;
    }
}

.player {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: relative;

    .spinner-player {
        margin: 100px auto 0 auto;
    }

    @include media('>medium') {
        .ad-banner-nb {
            display: none;
        }
    }
}

.player_header {
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin-bottom: 10px;
}

.player_main {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
}

.player_hover-button {
    position: absolute;
    z-index: 25;
    margin: 10px;
    background: rgba(#e6e6e6, 0.85);
    padding: 5px 8px;
    border: 1px solid rgba(#999, 0.3); 
    color: rgba(#333, 0.7);
}

.player_chat-button {
    top: 0;
    left: 0;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

.player_counter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 25;
    margin: 10px;
    background: rgba(#000, .7);
    font-size: 14px;
    color: rgba(#fff, .9);
    padding: 5px 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    display: inline-block;

    .selected {
        font-weight: bold;
    }

    &.active:hover {
        color: $primary-color;
        cursor: pointer;
    }

    @include media('<=medium') {
        display: none;
    }
}

.player_counter-separator {
    margin: 0 5px;
}

.player_media {
    margin: auto;
    position: relative;
    width: 100%; 
}

.player_media-inner {
    width: 100%;
    height: 100%;
    position: relative;

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.player_photo-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
}

.player_photo {
    @include center;
}

.video_container {
    width: 100%;
    height: 100%;
    position: relative;
    outline: none;
}

.video_player-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
}

.video_player-background {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.video_player {
    display: block;
    max-height: 100%;
    max-width: 100%;
    @include center;
}

.video_player_thumbnail {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 50;
    display: none;
    background-color: #eee;
}

.video_player_thumbnail_play {
    @include center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: rgba(#000, .5);
    cursor: pointer;

    .svg-icon-play {
        fill: rgba(#fff, .9);
        @include center;
        width: 85%;
        height: 85;
    }
}

// Mobile styles

.video_container-mobile {
    .player_control-volume {
        display: none;
    }
    .player_control-autoplay {
        display: none;
    }
}

// Fullscreen styles

.player_media-fullscreen {
    .player_photo-container, .video_player-container {
        background: #000;
    }
}

.player_media-fullscreen_controls {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    &.interactive {
        pointer-events: auto;
    }
}

.player_media-fullscreen_back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
}

.player_media-fullscreen_forward {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}

.player_media-fullscreen_tooltip {
    @include centerX;
    top: auto;
    bottom: 80px;
    color: #fff;
    background: rgba(#333, 0.7);
    padding: 15px;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.2s, opacity 0.2s;
    border-radius: 10px;
    text-align: center;
    line-height: 1.5;

    &.show {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity 0.2s;
    }
}

.player_caption {
    width: 100%;
    padding: 5px;
    background-color: rgba(#000, 0.6);
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;

    a {
        font-weight: normal;
        color: $light-secondary-color;
        /* the video player disables pointer events on the parent element of .player_caption, so this reinstates them */
        pointer-events: auto; 

        &:hover {
            cursor: pointer;
            color: $lighter-secondary-color;
        }
    }
}

.player_decoration {
    @include center;
    /* allow passthrough on mouse events to enable video playback on mobile */
    pointer-events: none;
}

.player_more {

    padding: 10px 15px;

    .item-room_info {
        font-size: 13px;
    }

    .item-room_time, .item-room_tag {
        display: none;
    }

    .item-room_author {
        display: block;
    }
}

.player_rooms {
    display: flex;
    flex-wrap: wrap;
}

@import 'player/info';
@import 'player/navigation';
@import 'player/reference';
@import 'player/share';