.shop {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.shop_products {
    overflow: auto;
}

.shop-product {
    display: flex;
    padding: 10px 15px 10px 10px;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover .shop-product_title {
        color: $light-primary-color;
    }
}

.shop-product_thumbnail {
    width: 90px;
    height: 90px;
    flex: 0 0 auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ddd;

    @include media('<300px') {
        width: 75px;
        height: 75px;
    }
}

.shop-product_main {
    margin-left: 10px;
}

.shop-product_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    color: $primary-color;
}

.shop-product_price {
    font-size: 13px;
    color: #888;
    margin-top: 4px;
}

.shop-product_description {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 400;
    line-height: 1.45;
}

/* Sponsored section */

.shop_sponsor {
    background: $secondary-color;
    padding: 3px 13px 8px 13px;
    overflow: hidden;

    .shop-product_title {
        color: $secondary-color;
    }

    &:hover .shop-product_title {
        color: $secondary-color;
    }

    &:first-child {
        padding-top: 8px;
    }
}

.shop_sponsor_detail {
    width: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.shop_sponsor_products {
    margin-top: 10px;
    background: #fff;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1); 

    &:last-child {
        margin-bottom: 4px;
    }
}

.shop_sponsor_expand {
    text-align: center;
    margin-top: 6px;
}

.shop_sponsor_expand_button {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    cursor: pointer;

    .svg-icon {
        width: 20px;
        height: 20px;
        fill: #fff;
    }

    &:hover {
        color: mix(white, $secondary-color, 80%);

        .svg-icon {
            fill:  mix(white, $secondary-color, 80%);
        }
    }
}