.shop {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
}

.shop_products {
    overflow: auto;
}

.shop-product {
    display: flex;
    padding: 10px 15px 10px 10px;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover .shop-product_title {
        color: $light-primary-color;
    }
}

.shop-product_thumbnail {
    width: 90px;
    height: 90px;
    flex: 0 0 auto;

    @include media('<300px') {
        width: 75px;
        height: 75px;
    }
}

.shop-product_thumbnail_inner {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}

.shop-product_main {
    margin-left: 10px;
}

.shop-product_sponsor {
    display: block;
    font-size: 13px;
    color: $secondary-color;
    margin-top: 4px;
}

.shop-product_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    color: $primary-color;
}

.shop-product_price {
    font-size: 13px;
    color: #888;
    margin-top: 4px;
}

.shop-product_description {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 400;
    line-height: 1.45;
}

/* Styles */

.shop-product.shop-product-square {
    flex-direction: column;
    flex: 0 0 auto;
    padding: 0;

    .shop-product_thumbnail {
        width: 100%;
        padding-top: 100%;
        height: 0;
        position: relative;
        overflow: hidden;
        margin-bottom: 3px;
    }

    .shop-product_thumbnail_inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .shop-product_title {
        font-size: 13px;
    }

    .shop-product_sponsor {
        font-size: 12px;
    }

    .shop-product_price {
        font-size: 12px;
    }

    .shop-product_description {
        font-size: 12px;
        margin-top: 3px;
        line-height: 1.3;
    }

    .shop-product_main {
        margin-left: 0;
    }

    margin: 10px 15px;
    flex-basis: calc(50% - 30px);
}


/* Sponsored section */

.shop_sponsor {
    overflow: hidden;
    &:first-child {
        padding-top: 8px;
    }
}

.shop_sponsor_detail {
    width: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.shop_sponsor_expand {
    text-align: center;
    margin-top: 6px;
    background: #eee;
    color: #777;
}

.shop_sponsor_expand_button {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;

    .svg-icon {
        width: 20px;
        height: 20px;
    }

    // &:hover {
    //     color: mix(white, $secondary-color, 80%);

    //     .svg-icon {
    //         fill:  mix(white, $secondary-color, 80%);
    //     }
    // }
}