.shop {
    display: flex;
    flex-direction: column;
}

.shop_products {
    overflow: auto;
}

.shop-product {
    display: flex;
    padding: 10px;
}

.shop-product_thumbnail {
    width: 90px;
    height: 90px;
    flex: 1 0 auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}

.shop-product_main {
    margin-left: 10px;
}

.shop-product_title {
    font-size: 14px;
    color: $primary-color;
}

.shop-product_price {
    font-size: 13px;
    color: #666;
    margin-top: 4px;
}

.shop-product_description {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 300;
}