<section id="react">{{{ react }}}</section>

<script type="text/html" id="state">{{{ state }}}</script>
<script src="/js/bundle.js"></script>
<script src="http://vjs.zencdn.net/4.11/video.js"></script>