<div class="row">
	<div class="password-reset center-block">
		<h1>RESET PASSWORD REQUEST</h1>

		{{#if request-sent}}
		<p>Instructions to reset your password have been sent. If you do not receive an email shortly, please check your spam folder.</p>
		{{else}}

		{{#if email-not-found}}
		<p class="has-error">We were unable to find a Bubble account associated with that email address. Please try again.</p>
		{{else}}
		<p>Please enter the email address associated with your Bubble account. You will be sent an email with instructions on how to reset your password.</p>
		{{/if}}

		<form role="form" action="/password-reset-request" method="post">

			{{#if email-invalid}}
			<div class="form-group has-error">
				<label class="control-label" for="password">Please enter a valid email address</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Email address">
			</div>
			{{else}}
			<div class="form-group">
				<input type="email" class="form-control" id="email" name="email" placeholder="Email address">
			</div>
			{{/if}}

			<button type="submit" class="btn btn-lg center-block">Submit</button>

		</form>
		{{/if}}
	</div>
</div>