.community_box {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    padding: 12px;
    max-width: 470px;
    height: 240px;
    background: #fff;
    box-shadow: $creator-box-shadow;
}

.community_box_list {
    height: 100%;
    margin-bottom: 6px;
    overflow: auto;
}

.community_box_element {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.community_box_element_thumbnail {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.community_box_element_thumbnail-user {
    border-radius: 5px;
    background-color: #ccc;
}

.community_box_element_text {
    min-width: 55px;
    font-size: 14px;
    margin-right: 5px;
}

.community_box_element_remove {
    display: none;
    color: $primary-color;
    font-size: 14px;
    cursor: pointer;

    .community_box_element:hover & {
        display: block;
    }

    &:hover {
        color: $light-primary-color;
    }
}

.community_box_submit_fields {
    display: flex;
}

input.community_box_input {
    font-size: 13px;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
}

input.community_box_submit {
    color: #fff;
    background: $primary-color;
    padding: 0 20px;
    border: none;
    font-size: 13px;
    cursor: pointer;

    &:hover {
        background: $light-primary-color
    }

    &:disabled {
        background: #999;
    }
}

.community_box_submit_error {
    color: $error-color;
    font-size: 12px;
    margin-bottom: 5px;
}