.advertising_text {
    letter-spacing: 0.02em;
    line-height: 1.5;

    h1 {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 20px;
        letter-spacing: 0.04em;
    }
    h2 {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
    }
    p {
        margin-bottom: 15px;
        font-weight: 300;
        font-size: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        font-weight: 300;
        text-decoration: underline;
    }
}

.advertising_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
}

/* Specific panel styles */

.advertising_intro {
    background: $company-light-background;
    color: #5c5c5c;
    height: 310px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.advertising_intro_text {
    width: calc(100% - 100px);
    max-width: 900px;
    margin: 0 auto;

    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.03em;
    z-index: 11;

    p {
        margin-top: 8px;
    }
}

.advertising_intro_text-downtime {
    font-size: 29px;
    font-weight: 700;
    margin-top: 10px;
}

.advertising_intro_shape1 {
    position: absolute;
    right: 0;
    bottom: 0;
    background: $primary-color;
    width: 240px;
    height: 560px;
    transform: translateY(270px) translateX(-72px) rotateZ(64deg);
    z-index: 10;
}

.advertising_intro_shape2 {
    background: #fca469;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    height: 120px;
    transform: translateX(45px) translateY(-57px) rotateZ(31deg);
    z-index: 9;
}

.advertising_users {
    color: #eee;
    background: #424242;
    padding: 60px 50px;
}

.advertising_users_stats {
    flex: 0 1 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.advertising_users_stats_title {
    color: #e4e4e4;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.advertising_users_stats_body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.advertising_users_stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff6f44;

    &:first-child {
        margin-right: 12px;
    }
}

.advertising_users_stat_time {
    font-size: 57px;
    font-weight: 700;
}

.advertising_users_stat_label {
    font-size: 15px;
    font-weight: 300;
    color: #aaa;
}

.advertising_users_text {
    flex: 0 1 390px;
    margin-left: 10px;
}

.advertising_nextbeat {
    background: #fbfbfb;
    margin-bottom: -40px;
}

.advertising_nextbeat_container {
    margin: 0 auto;
    position: relative;
    top: -20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(#000, 0.15);
    background: #fff;
    z-index: 15;

    max-width: 900px;

    @include media('<=930px') {
        max-width: 700px;
    }

    @include media('<=730px') {
        max-width: auto;
        margin: 0 15px;
    }
}

.advertising_nextbeat_info {
    padding: 30px 85px;
    text-align: center;

    p {
        color: #777;
        line-height: 1.7;
    }

    h1 {
        font-size: 24px;
        font-weight: 500;
    }

    @include media('<=730px') {
        padding: 25px 50px 15px 50px;
    }
}

.advertising_nextbeat_stats {
    background: #f0f0f0;
    padding: 25px 100px;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media('<=930px') {
        padding: 25px 60px;
    }

    @include media('<=730px') {
        padding: 25px 40px;
    }
}

.advertising_nextbeat_stat {
    text-align: center;
    max-width: 290px;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin: 0 10px;
    letter-spacing: 0.02em;
}

.advertising_store {
    padding: 60px 50px 85px 50px;
    position: relative;
    background: linear-gradient(to bottom, #db5430, #cd4f2d);
    color: #fff;
}

.advertising_store_triangle {
    @include triangle-background(rgba(#000, 0.05), 5%, 8%);
}

.advertising_store_header {
    text-align: center;
}

.advertising_store_text {
    flex: 0 1 auto;
}

.advertising_store_icon {
    position: relative;
    flex: 1 0 auto;
    width: 140px;
    height: 140px;
    background-color: #fff;
    border-radius: 70px;
    margin-right: 50px;
    box-shadow: 0 5px 10px 0 rgba(#07215c, 0.10);
}

.advertising_store_icon_inner {
    @include center;
    width: 65%;
    height: 65%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.advertising_store_icon-conversions {
    margin-top: -3px;
    background-image: url(../public/images/cash_register.svg);
}

.advertising_store_icon-partnerships {
    margin-top: 5px;
    background-image: url(../public/images/handshake.svg);
}

.advertising_store_content {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
}

.advertising_action {
    background: $company-light-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 55px 30px;
}

.advertising_action_text {
    max-width: 475px;
    text-align: center;
    margin-bottom: 30px;
}

@include media("<=medium") {

    .advertising_intro_shape1, .advertising_intro_shape2 {
        display: none;
    }

    .advertising_intro {
        height: auto;
        min-height: 250px;
        padding: 10px;
    }

    .advertising_users {
        padding: 35px 30px 50px 30px;
    }

    .advertising_content {
        flex-direction: column;
    }

    .advertising_users_stats {
        order: 2;
        flex: 0 1 auto;
        margin: 0;
    }

    .advertising_users_text {
        order: 1;
        flex: 0 1 auto;
        max-width: 500px;
        margin-bottom: 30px;
    }

    .advertising_store {
        h2 {
            text-align: center;
        }
        h1 {
            margin-bottom: 30px;
        }
    }

    .advertising_store_triangle {
        @include triangle-background(rgba(#000, 0.05), 5%, 15%);
    }

    .advertising_store_icon {
        width: 160px;
        height: 160px;
        border-radius: 90px;
        margin: 0 0 20px 0;
    }
}

@include media("<=small") {

    .advertising_intro_text {
        text-align: center;
        margin: 0 auto;
    }

    .advertising_users_stats_title {
        font-size: 16px;
    }

    .advertising_users_stat_time {
        font-size: 44px;
    }

    .advertising_users_stat_label {
        font-size: 16px;
    }

    .advertising_nextbeat_intro {
        padding: 25px 35px;
        p {
            line-height: 160%;
        }
    }

    .advertising_nextbeat_stats {
        flex-direction: column;
    }

    .advertising_nextbeat_stat {
        margin: 10px 0;
    }

}