.advertising_text {
    letter-spacing: 0.01em;
    line-height: 1.5;

    h1 {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 18px;
        letter-spacing: 0.04em;
    }

    h2 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 7px;
        color: #476fbd;
    }

    p {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        font-weight: 400;
        text-decoration: underline;
    }
}

.advertising_content {
    margin: 0 auto;
    max-width: 800px;
}

/* Specific panel styles */

// Intro

.advertising_intro {
    background: #e4e7ed;
    color: #444;
    height: 310px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.advertising_intro_text {
    width: calc(100% - 100px);
    max-width: 800px;
    margin: 0 auto;

    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.03em;
    z-index: 11;

    p {
        margin-top: 8px;
    }
}

.advertising_intro_text-downtime {
    font-size: 29px;
    font-weight: 700;
    margin-top: 10px;
}

.advertising_intro_shape1 {
    position: absolute;
    right: 0;
    bottom: 0;
    background: $primary-color;
    width: 240px;
    height: 560px;
    transform: translateY(270px) translateX(-72px) rotateZ(64deg);
    z-index: 10;
}

.advertising_intro_shape2 {
    background: #fca469;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    height: 120px;
    transform: translateX(45px) translateY(-57px) rotateZ(31deg);
    z-index: 9;
}

// About Nextbeat

.advertising_nextbeat {
    background: #fff;
    color: $text-color;
    padding: 60px 50px;
}

.advertising_nextbeat_text {
    flex: 1;
    padding-right: 30px;
}

.advertising_nextbeat_section {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
}

.advertising_nextbeat_subsection {
    margin-bottom: 20px;
}

.advertising_stats_column {
    float: right;
    padding-left: 35px;
    padding-bottom: 40px;
}

.advertising_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #8aa9e6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(#000, 0.12);
}

.advertising_stat_group {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.advertising_stat_group_title {
    color: #eff4ff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    max-width: 230px;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.advertising_stat_group_body {
    display: flex;
    justify-content: center;
    width: 100%;

    &.advertising_stat_group_body-multiple {
        justify-content: space-between;  
    }
}

.advertising_stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    margin: 0 40px 0 0;
    &:last-child {
        margin: 0;
    }
}

.advertising_stat_value {
    font-size: 44px;
    font-weight: 600;

    .advertising_stat_group_body-multiple & {
        font-size: 41px;
    }
}

.advertising_stat_label {
    font-size: 13px;
    font-weight: 400;
    color: #c1d2f3;
}

// Action

.advertising_action {
    background: #e4e7ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 55px 30px;
}

.advertising_action_text {
    max-width: 475px;
    text-align: center;
    margin-bottom: 30px;
}

// Responsive styles

@include media("<=medium") {

    .advertising_text {
        h1 {
            margin-bottom: 15px;
        }
    }

    .advertising_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .advertising_intro_shape1, .advertising_intro_shape2 {
        display: none;
    }

    .advertising_intro {
        height: auto;
        min-height: 250px;
        padding: 10px;
    }

    .advertising_intro_text {
        text-align: center;
        margin: 0 auto;
    }

    .advertising_nextbeat {
        padding: 35px 30px 50px 30px;
    }

    .advertising_nextbeat_text {
        padding: 0;
        margin-bottom: 30px;
    }

    .advertising_nextbeat_section {
        margin-bottom: 30px;
    }

    .advertising_stats_column {
        flex: 0 1 auto;
        padding-left: 0;
        padding-bottom: 0;
        width: 100%;
        order: 2;
    }

    .advertising_stats {
        flex-wrap: wrap;
        justify-content: center;
        height: 280px;
        width: 100%;
    }

    .advertising_stat_group {
        margin-bottom: 30px;
    }

    .advertising_stat_group:nth-child(2) {
        margin-bottom: 0;
    }

    .advertising_stat_group_body-multiple {
        flex-direction: column;
    }

    .advertising_stat {
        margin: 0 0 10px 0;
    }

    .advertising_store {
        padding: 0 30px 50px 30px;
        h1 {
            margin-bottom: 30px;
        }
    }

    .advertising_store_item {
        margin: 0 0 20px 0;
        max-width: 500px;
    }

    .advertising_store_icon {
        width: 120px;
        height: 120px;
        margin: 0 0 20px 0;
    }
}

@include media("<=600px") {
    .advertising_stats {
        flex-wrap: nowrap;
        height: auto;
    }

    .advertising_stat_group:nth-child(2) {
        margin-bottom: 25px;
    }
}

@include media("<=small") {

    .advertising_nextbeat_intro {
        padding: 25px 35px;
        p {
            line-height: 160%;
        }
    }

    .advertising_stat_group_body {
        flex-direction: column;
    }

    .advertising_stats_title {
        font-size: 16px;
    }

    .advertising_stat_value {
        font-size: 44px;
    }

    .advertising_stat_label {
        font-size: 16px;
    }

}