<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<title>Nextbeat</title>

  	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">

  	<link rel="stylesheet" href="/css/main.css">

</head>

<body>
	{{{ body }}}
</body>
</html>