body {
    font-family: 'BlinkMacSystemFont', -apple-system, sans-serif;
    color: $text-color;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $primary-color;

    &:visited {
        color: $primary-color;
    }

    &:hover {
        color: $light-primary-color;
    }
}

/*
 * Forces all elements to use the border-box style (which includes
 * border and padding in the calculated width size) by default.
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    overflow: hidden;
}