.item_annotation {
    position: absolute;
    display: flex;
    min-height: 40px;
    align-items: stretch;
    z-index: 50;
    margin: 10px;

    overflow: hidden;
}

.item_annotation_icon_container {
    display: flex;
    align-items: stretch;
    background: rgba(#000, 0.8);

    .item_annotation.compact & {
        display: none;
    }
}

.item_annotation_icon {
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
    border-right: 1px solid rgba(#fff, 0.3);

    .svg-icon {
        fill: rgba(#fff, 0.9);
        width: 18px;
        height: 18px;
    }
}

.item_annotation_main_container {
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.item_annotation_main {

    display: flex;
    align-items: stretch;
    background: rgba(#000, 0.8);

    cursor: pointer;
    transition-property: transform; 

    .item_annotation.animated & {
        transition-duration: 0.225s;
        transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .item_annotation.collapsed & {
        transform: translateX(calc(-100% + 30px));
    }

    .item_annotation.collapsed.animated & {
        transition-duration: 0.195s;
        transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    }
}

.item_annotation_content {
    max-width: 300px;
}

// Title

.item_annotation-title {
    .item_annotation_icon_container {
        display: none;
    }
}

.item_annotation_title {
    width: 100%;
    height: 100%;
    padding: 7px 7px 7px 11px;
    font-size: 13px;
    color: rgba(#fff, 0.9);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

// Referenced comment

.item_annotation-reference {
    .item_annotation_icon_container, .item_annotation_main {
        background: rgba(#063538, 0.9);
    }
}

.item_annotation_comment {
    width: 100%;
    font-size: 12px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item_annotation.compact & {
        padding-left: 11px;
    }
}

.item_annotation_comment_username {
    color: $secondary-color;
    font-weight: 700;
    margin-bottom: 5px;
}

.item_annotation_comment_timestamp {
    color: rgba(#fff, 0.3);
    font-size: 10px;
    font-style: italic;
    padding-left: 8px;
}

.item_annotation_comment_body {
    color: rgba(#fff, 0.9);
}

.item_annotation_collapse {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .svg-icon {
        width: 20px;
        height: 20px;
        fill: rgba(#fff, 0.8);
        transform: rotate(90deg);

        .item_annotation.animated & {
            transition: transform 0.3s 0.225s;
        }

        .item_annotation.collapsed & {
            transform: rotate(270deg);
        }
    }
}