.creator-info {
    margin: 10px 20px 40px 20px;
    display: flex;

    @include media('<=medium') {
        display: none;
    }
}

.creator-info_left {
    flex: 0 0 auto;
    width: 70px;
    margin-right: 15px;
}

.creator-info_profpic {
    width: 70px;
    height: 70px;

    background-color: #ddd;
    position: relative;
    border-radius: 10px;
    /* fixes Webkit bug where border-radius clipping doesn't occur (http://stackoverflow.com/a/25206004/371747) */
    z-index: 15; 

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .svg-icon-person {
        @include center;
        width: 70%;
        height: 70%;
    }
}

.creator-info_main {
    margin-top: 4px;
    flex: 1;
}

a.creator-info_username {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
    color: $text-color;
    display: block;

    &:hover {
        color: $primary-color;
    }
}

.creator-info_social {
    margin-top: 13px;
    width: 100%;
    border-top: 1px solid #e9e9e9;
}

.creator-info_social_fields {
    list-style-type: none;
    margin: 6px 0 0 0;
    padding: 0;
    display: flex;
}

.creator-info_social_field {
    margin-right: 20px;
    color: #666;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    
    &:last-child {
        margin-right: 0;
    }

    &.creator-info_social_field-google:hover {
        border-bottom-color: #f00;
    }

    &.creator-info_social_field-twitter:hover {
        border-bottom-color: #429dd3;
    }

    &.creator-info_social_field-instagram:hover {
        border-bottom-color: #e1306c;
    }
}

.creator-info_social_icon {
    width: 25px;
    height: 25px;
    margin-right: 6px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .creator-info_social_field-google & {
        width: 20px;
        background-image: url(../public/images/platforms/youtube_color.png)
    }

    .creator-info_social_field-instagram & {
        width: 20px;
        background-image: url(../public/images/platforms/instagram_color.png)
    }

    .creator-info_social_field-twitter & {
        width: 23px;
        margin-right: 4px;
        background-image: url(../public/images/platforms/twitter_color.png)
    }
}

.creator-info_social_youtube {
    margin: 0 auto;
    width: calc(100% - 20px);
    max-width: 400px;
}

.creator-info_social_twitter {
    margin: 0 auto;
    width: calc(100% - 20px);
    max-width: 500px;
}