.player_navigation {
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid $border-color;
    align-items: stretch;

    @include media('<=small') {
        height: 50px;
    }
}

.player_navigation_inner {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.player_nav-button {
    flex: 1;
    position: relative;
    transition: box-shadow 0.2s;

    .svg-icon {
        fill: $light-primary-color;
        @include center;
        height: 50px;
        width: 50px;
        transition: fill 0.2s;

        @include media('<=small') {
            height: 40px;
            width: 40px;
        }
    }

    &:hover:not(.disabled) {
        box-shadow: inset 0px 0px 8px 2px rgba($primary-color, 0.12);
        cursor: pointer;

        .svg-icon {
            fill: $primary-color;
        }
    }

    &.disabled .svg-icon {
        fill: #ccc;
    }
}

.player_nav-backward {
    border-right: 1px solid #eee;
}

.player_nav-counter {
    width: 70px;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eee;
    color: #666;
    font-family: 'Roboto', sans-serif;
    display: none;

    .selected {
        font-weight: bold;
    }

    &:hover {
        cursor: pointer;
        color: $primary-color;
    }

    @include media('<=medium') {
        display: flex;
    }

}

.player_nav-autoplay {
    display: none;
    width: 78px;
    flex: 0 0 auto;
    border-left: 1px solid #eee;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
}

.player_nav-autoplay_title {
    font-size: 11px;
    font-weight: 500;
    color: #666;
    margin-bottom: 3px;
}

.player_nav-autoplay_switch {
    width: 35px;
}

// Animation to indicate progress when using arrow keys to navigate
.player_nav-button-flash {
    animation-duration: 0.15s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-name: player_nav-button-flash;
}

@keyframes player_nav-button-flash {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: inset 0px 0px 8px 2px rgba($primary-color, 0.15);
    }
}

// iOS specific styles 

.player_navigation-ios {
    .player_nav-counter {
        order: 0;
        width: 78px;
    }

    .player_nav-backward {
        order: 1;
    }

    .player_nav-forward {
        order: 2;
    }

    .player_nav-autoplay {
        order: 3;
        display: flex;
    }
}