body {
  font-family: 'BlinkMacSystemFont', -apple-system, sans-serif;
  background: #f1f1f1;
  height: 100%; }

input[type="submit"] {
  background-color: #2258c5;
  color: white;
  font-size: 0.8em;
  padding: 5px 10px;
  border: none; }

.clear {
  clear: both; }

html, body, #container, #content, #react {
  height: 100%; }

#content {
  width: calc(100% - 240px);
  float: left; }

/**************
 * LOGIN/SIGNUP
 **************/
.modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }

#login {
  position: absolute;
  width: 300px;
  left: calc(50% - 150px);
  top: 100px;
  background-color: white;
  padding: 10px;
  border: 1px solid #999;
  color: black; }
  #login div {
    float: right;
    margin-top: 5px;
    clear: both; }
  #login label {
    margin-right: 5px; }
  #login div:after {
    clear: both;
    content: '';
    display: block; }
  #login .error {
    font-size: 0.8em;
    font-style: italic;
    color: #ef585b; }

/*********
 * SIDEBAR
 *********/
#sidebar {
  height: 100%;
  width: 240px;
  background-color: #fff;
  float: left;
  border-right: 1px solid #eee;
  padding: 10px; }
  #sidebar .header {
    text-align: center; }
  #sidebar .logo {
    text-align: center;
    font-size: 1.4em;
    width: 100%;
    display: block; }
  #sidebar .separator {
    margin: 10px auto;
    width: calc(100% - 20px);
    background-color: #ddd;
    height: 1px; }
  #sidebar .user-info {
    height: 25px;
    position: relative;
    margin: 0 auto;
    display: inline-block; }
  #sidebar .user {
    display: inline-block;
    line-height: 25px;
    width: 220px;
    text-align: left;
    font-size: 1.2em; }
  #sidebar .logout {
    display: inline-block;
    position: absolute;
    right: 0; }
  #sidebar .login {
    margin-right: 10px; }
  #sidebar .title {
    font-weight: bold;
    color: #666; }
  #sidebar .no-content {
    color: #999;
    font-size: 0.85em;
    text-align: center;
    margin-top: 10px; }
  #sidebar .stack-item {
    height: 80px;
    padding-left: 0;
    font-size: 0.9em; }
    #sidebar .stack-item .thumb {
      height: 60px;
      width: 60px; }
    #sidebar .stack-item .info {
      width: 130px; }
    #sidebar .stack-item .channel {
      display: none; }
    #sidebar .stack-item .time {
      left: 0; }
    #sidebar .stack-item .bookmarks {
      display: none; }

/*********
 * THEATER
 *********/
#theater {
  max-width: 1000px;
  margin: 0 auto; }

#theater-main {
  float: left;
  width: 70%; }

#chat {
  float: right;
  width: 30%;
  background: #fff;
  height: 610px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
  #chat ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #chat li {
    margin: 5px 0 0 10px; }
  #chat strong {
    color: #2258c5; }
  #chat strong.creator {
    color: #fff;
    background-color: #2258c5;
    padding: 0 3px; }
  #chat .notification {
    color: #999;
    font-style: italic; }

#history {
  overflow: auto;
  height: 510px;
  padding: 3px;
  border-bottom: 1px solid #ccc; }

#compose {
  height: 100px; }
  #compose textarea {
    margin: 10px 10px 2px 10px;
    width: calc(100% - 20px);
    height: 50px;
    resize: none;
    padding: 5px;
    border: 1px solid #999; }
  #compose input {
    display: block;
    margin-right: 10px;
    float: right; }
  #compose p {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #999; }

::-webkit-input-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

::placeholder {
  font-style: italic; }

#activity {
  float: left;
  width: 35%;
  height: 500px;
  position: relative; }

#activity-inner {
  overflow: scroll;
  margin: 0 10px;
  height: 100%;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  position: relative; }

.activity-item {
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
  height: 90px; }
  .activity-item .thumb {
    overflow: hidden;
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    float: left; }
  .activity-item div.video:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.5) 100%); }
  .activity-item img.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .activity-item img.video {
    position: absolute;
    bottom: 1px;
    left: 4px;
    width: 15px;
    height: auto;
    z-index: 10; }
  .activity-item .time {
    margin-left: 10px;
    height: 70px;
    line-height: 70px;
    color: #999;
    font-size: 0.9em;
    display: block;
    float: left;
    position: relative; }
    .activity-item .time span {
      vertical-align: middle;
      display: inline-block; }
  .activity-item .time:after {
    clear: both;
    content: '';
    display: block; }

.activity-item.selected {
  background-color: #ddd; }

.activity-item.live {
  background-color: rgba(34, 88, 197, 0.1); }

.activity-item.selected.live {
  background-color: rgba(34, 88, 197, 0.3); }

.new-media {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  margin-left: 10px;
  padding: 8px 5px;
  background-color: rgba(239, 88, 91, 0.85);
  text-align: center;
  color: #fff;
  font-weight: bold; }

#player {
  float: right;
  width: 65%;
  height: 500px; }
  #player a {
    display: block;
    height: 500px;
    width: calc((100% - 282px)/2);
    text-align: center;
    float: left;
    line-height: 500px;
    font-weight: bold;
    color: #bbb;
    font-size: 4em;
    text-decoration: none; }
  #player a:hover {
    text-decoration: none;
    color: #999; }
  #player div {
    width: 282px;
    height: 500px;
    display: block;
    float: left; }
  #player img {
    height: 100%;
    margin: 0 auto;
    display: block; }
  #player video {
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 282px; }

#info {
  margin: 10px 10px 0 10px;
  background: #fff;
  height: 100px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
  #info .username {
    float: left;
    margin: 10px 0 0 10px;
    display: block;
    color: #333;
    font-size: 1.5em; }
    #info .username .profile {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      position: relative;
      float: left;
      overflow: hidden;
      margin-right: 5px; }
    #info .username img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  #info .live {
    color: #15c599;
    font-size: 0.7em;
    margin-left: 8px; }
  #info .bookmarks {
    float: right;
    margin: 10px 10px 0 0;
    display: block;
    font-size: 2em; }
    #info .bookmarks img {
      width: 19px;
      margin: 0 0 5px 5px; }
  #info .description {
    display: block;
    margin: 10px; }

/*********
 * PROFILE
 *********/
#profile {
  margin: 20px; }
  #profile .user {
    font-size: 2em;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
    margin-bottom: 20px; }
    #profile .user .profile-picture {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      position: relative;
      float: left;
      overflow: hidden;
      margin-right: 15px; }
    #profile .user img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  #profile .header {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-top: 20px; }
  #profile .stack-item {
    margin: 12px 8px;
    display: inline-block;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 110px; }

.stack-item {
  height: 110px;
  width: 100%;
  padding: 10px;
  position: relative;
  background: #fff;
  color: #000; }
  .stack-item .thumb {
    width: 90px;
    height: 90px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 10px; }
    .stack-item .thumb img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .stack-item .info {
    float: left;
    height: 100%;
    width: 180px; }
    .stack-item .info .description {
      height: 80%; }
    .stack-item .info .details {
      height: 20%;
      position: relative; }
      .stack-item .info .details span {
        position: absolute;
        bottom: 0;
        font-size: 0.8em;
        color: #666; }
      .stack-item .info .details .channel {
        left: 0;
        font-weight: bold; }
      .stack-item .info .details .time {
        right: 0; }
  .stack-item .bookmarks {
    text-align: right;
    font-size: 1.2em;
    line-height: 90px; }
    .stack-item .bookmarks img {
      width: 15px;
      height: 15px;
      margin-bottom: 3px; }
  .stack-item .open {
    position: absolute;
    top: 3px;
    right: 5px;
    color: #15c599;
    font-size: 0.8em; }

.stack-item:hover {
  text-decoration: none;
  background-color: #f7f7f7; }
