body {
  font-family: 'BlinkMacSystemFont', -apple-system, sans-serif;
  background: #f1f1f1; }

input[type="submit"] {
  background-color: #2258c5;
  color: white;
  font-size: 0.8em;
  padding: 5px 10px;
  border: none; }

.clear {
  clear: both; }

#header {
  background-color: #2258c5;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  padding: 7px;
  color: white;
  position: relative; }
  #header .right {
    display: inline-block;
    float: right; }
  #header a {
    color: white; }

#login {
  position: absolute;
  right: 0px;
  top: 35px;
  background-color: white;
  z-index: 100;
  padding: 10px;
  border: 1px solid #999;
  color: black;
  display: none; }
  #login div {
    float: right;
    margin-top: 5px;
    clear: both; }
  #login label {
    margin-right: 5px; }
  #login div:after {
    clear: both;
    content: '';
    display: block; }
  #login .error {
    font-size: 0.8em;
    font-style: italic;
    color: #ef585b; }

#theater {
  max-width: 1000px;
  margin: 0 auto; }

#theater-main {
  float: left;
  width: 70%; }

#chat {
  float: right;
  width: 30%;
  background: #fff;
  height: 610px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
  #chat ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #chat li {
    margin: 5px 0 0 10px; }
  #chat strong {
    color: #2258c5; }
  #chat .notification {
    color: #999;
    font-style: italic; }

#history {
  overflow: auto;
  height: 510px;
  padding: 3px;
  border-bottom: 1px solid #ccc; }

#compose {
  height: 100px; }
  #compose textarea {
    margin: 10px 10px 2px 10px;
    width: calc(100% - 20px);
    height: 50px;
    resize: none;
    padding: 5px;
    border: 1px solid #999; }
  #compose input {
    display: block;
    margin-right: 10px;
    float: right; }
  #compose p {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #999; }

::-webkit-input-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

::placeholder {
  font-style: italic; }

#activity {
  float: left;
  width: 35%;
  height: 500px;
  position: relative; }

#activity-inner {
  overflow: scroll;
  margin: 0 10px;
  height: 100%;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  position: relative; }

.activity-item {
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
  height: 90px; }
  .activity-item .thumb {
    overflow: hidden;
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    float: left; }
  .activity-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .activity-item .time {
    margin-left: 10px;
    height: 70px;
    line-height: 70px;
    color: #999;
    font-size: 0.9em;
    display: block;
    float: left;
    position: relative; }
    .activity-item .time span {
      vertical-align: middle;
      display: inline-block; }
  .activity-item .time:after {
    clear: both;
    content: '';
    display: block; }

.activity-item.selected {
  background-color: #ddd; }

.activity-item.live {
  background-color: rgba(34, 88, 197, 0.1); }

.activity-item.selected.live {
  background-color: rgba(34, 88, 197, 0.3); }

.new-media {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  margin-left: 10px;
  padding: 8px 5px;
  background-color: rgba(239, 88, 91, 0.85);
  text-align: center;
  color: #fff;
  font-weight: bold; }

#player {
  float: right;
  width: 65%;
  height: 500px; }
  #player a {
    display: block;
    height: 500px;
    width: calc((100% - 282px)/2);
    text-align: center;
    float: left;
    line-height: 500px;
    font-weight: bold;
    color: #bbb;
    font-size: 4em;
    text-decoration: none; }
  #player a:hover {
    text-decoration: none;
    color: #999; }
  #player div {
    width: 282px;
    height: 500px;
    display: block;
    float: left; }
  #player img {
    height: 100%;
    margin: 0 auto;
    display: block; }
  #player video {
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 282px; }

#info {
  margin: 10px 10px 0 10px;
  background: #fff;
  height: 100px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
  #info .username {
    float: left;
    margin: 10px 0 0 10px;
    display: block;
    color: #333;
    font-size: 1.5em; }
    #info .username img {
      width: 36px;
      border-radius: 18px;
      margin-right: 5px; }
  #info .live {
    color: #15c599;
    font-size: 0.7em;
    margin-left: 8px; }
  #info .bookmarks {
    float: right;
    margin: 10px 10px 0 0;
    display: block;
    font-size: 2em; }
    #info .bookmarks img {
      width: 19px;
      margin: 0 0 5px 5px; }
  #info .description {
    display: block;
    margin: 10px; }
