body {
  font-family: "Nunito", sans-serif;
  background: #f1f1f1; }

.clear {
  clear: both; }

#header {
  background-color: #2258c5;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  font-weight: bold; }

#theater {
  max-width: 1000px;
  margin: 0 auto; }

#theater-main {
  float: left;
  width: 70%; }

#chat {
  float: right;
  width: 30%;
  background: #fff;
  height: 610px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
  #chat ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #chat li {
    margin: 5px 0 0 10px; }
  #chat strong {
    color: #2258c5; }
  #chat .notification {
    color: #999;
    font-style: italic; }

#history {
  overflow: auto;
  height: 510px;
  padding: 3px;
  border-bottom: 1px solid #ccc; }

#compose {
  height: 100px; }

#activity {
  float: left;
  width: 35%;
  height: 500px;
  position: relative; }

#activity-inner {
  overflow: scroll;
  margin: 0 10px;
  height: 100%;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  position: relative; }

.activity-item {
  padding: 10px;
  border-bottom: 1px solid #f6f6f6; }
  .activity-item div {
    overflow: hidden;
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-block; }
  .activity-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .activity-item span {
    display: inline-block;
    vertical-align: center;
    margin-left: 10px;
    height: auto; }

.selected {
  background-color: #ddd; }

.live {
  background-color: rgba(34, 88, 197, 0.1); }

.selected.live {
  background-color: rgba(34, 88, 197, 0.3); }

.new-media {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  margin-left: 10px;
  padding: 8px 5px;
  background-color: rgba(239, 88, 91, 0.85);
  text-align: center;
  color: #fff;
  font-weight: bold; }

#player {
  float: right;
  width: 65%;
  height: 500px; }
  #player img {
    height: 100%;
    display: block;
    margin: 0 auto; }
  #player video {
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 282px; }

#info {
  margin: 10px 10px 0 10px;
  background: #fff;
  height: 100px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
  #info .username {
    float: left;
    margin: 5px;
    display: block;
    font-weight: bold; }
  #info .bookmarks {
    float: right;
    margin: 5px;
    display: block; }
  #info .description {
    display: block;
    margin: 5px; }
