.upload_create-room {
    width: 100%;
    margin-top: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color; 

    .upload_subheader {
        display: flex;

        .svg-icon-close {
            margin: -2px 0 0 10px;
            width: 25px;
            height: 25px;
            fill: #ccc;

            &:hover {
                cursor: pointer;
                fill: #ddd;
            }
        }
    }

}

.upload_create-room_form  {
    width: 100%;
}

.upload_create-room_left {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;
}

.upload_create-room_thumb {
    width: 156px;
    height: 108px;
    background-color: $dark-background-color;
    border: 1px solid $border-color;
    position: relative;
}

.upload_create-room_thumb-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .spinner {
        margin: 20px auto;
    }
}

.upload_create-room_thumb-custom-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.upload_create-room_thumb_prompt {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    padding: 4px 5px;
    color: #fff;
    background: rgba(#000, 0.6);

    &:hover {
        cursor: pointer;
    }
}

.upload_create-room_main {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 15px;
}

.upload_create-room_input {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
}

.upload_create-room_right {
    display: inline-block;
    width: 170px;
    vertical-align: top;
}