.google-ad-chat_large {
    margin: 0 auto;
    display: none;

    @include media("<=medium") {
        display: block;
    }
}

.google-ad-activity {
    margin: 0 auto 5px;
    display: none;

    @include media("<=medium") {
        display: block;
    }
}

.google-ad-detail-bar {
    margin: 0 auto;
    display: block;

    @include media("<=medium") {
        display: none;
    }
}

.google-ad-home_sections {
    width: 100%;
    height: 0;
    display: block;
    float: left;
    clear: both;
    margin-bottom: 20px;
}