.app-banner {
    display: block;
    position: relative;
    background: mix($primary-color, white, 6%);
    padding: 10px;
    text-align: left;
    color: $primary-color;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid $border-color;

    .svg-icon-small-logo {
        display: inline-block;
        height: 25px;
        width: 25px;
        margin-right: 15px;
    }
}

.app-banner_main {
    display: inline-block;
    height: 25px;
}

.app-banner_name {
    font-weight: bold;
    padding-bottom: 2px;
}

.app-banner_button {
    float: right;
    @include clearfix;
}

.app-banner_prompt {
    display: inline-block;
    margin: 5px 5px;
    width: 100%;
    padding-right: 40px;
    font-weight: bold;
    font-size: 13px;
}

.app-banner_close {
    position: absolute;
    @include centerY;
    left: auto;
    right: 10px;
    height: 23px;
    width: 23px;
    margin-right: -3px;
    fill: #000;
    fill-opacity: 0.35;
    @include clearfix;

    .svg-icon {
        width: 100%;
        height: 100%;
    }

    &:hover {
        cursor: pointer;
        fill-opacity: 0.6;
    }
}


// Specific styles

.welcome-banner {
    background: mix($secondary-color, white, 6%);
    border-bottom: 1px solid mix($secondary-color, white, 40%);
    color: $secondary-color;
    padding: 8px 10px;

    .app-banner_prompt {
        font-weight: 400;
        font-size: 14px;
    }

    .app-banner_close {
        fill-opacity: 0.5;

        &:hover {
            cursor: pointer;
            fill-opacity: 0.7;
        }
    }

    a {
        color: mix($secondary-color, black, 90%);
        text-decoration: underline;
        &:hover {
            color: $secondary-color;
        }
    }

}