.btn {
    background-color: $primary-color;
    color: white;
    font-weight: normal;
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    border-radius: 0px;

    &:hover {
        background-color: $light-primary-color;
        color: white;
        cursor: pointer;
    }

    &:visited {
        color: white;
    }
}

.btn-light {
    background-color: $light-primary-color;

    &:hover {
        background-color: $lighter-primary-color;
        color: white;
    }
}

.btn-secondary {
    background-color: $secondary-color;

    &:hover {
        background-color: $light-secondary-color;
        color: white;
    }
}

.btn-light.btn-secondary {
    background-color: $light-secondary-color;

    &:hover {
        background-color: $lighter-secondary-color;
        color: white;
    }
}

.btn-gray {
    background-color: #ccc;

    &:hover {
        background-color: #ddd;
        color: white;
    }

    &.btn-disabled:hover {
        background-color: #ccc;
        cursor: default;
    }
}

.btn-inactive {
    background-color: $button-color;
}

.btn-light.btn-inactive {
    background-color: mix(white, $button-color, 40%);

    &:hover {
        background-color: $lighter-primary-color;
    }
}

// Bookmark

.btn-bookmark {

    .svg-icon-bookmark, .svg-icon-bookmark-outline {
        height: 17px;
        width: 17px;
        fill: white;
        margin: 0 0 0 -3px;
        position: absolute;
        left: 10px;
        top: 5px;
    }

}

.btn-bookmark_inner {

    display: flex;

    & > * {
        display: inline-block;
        position: relative;
        align-items: center;
    }
}

.btn-bookmark_count {
    padding: 0 7px;
    color: $secondary-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    min-width: 20px;
}

.btn-bookmark_text {
    margin-left: 17px;
}

.btn-bookmark.btn-bookmark-small {

    .btn {
        background: none;
        padding: 0;
        color: $button-color;
    }

    .btn-bookmark_inner {
        align-items: center;
    }

    .btn-bookmark_count {
        border: none;
        padding: 0 6px;
        color: $button-color;
        font-size: 16px;
        font-weight: 600;
    }

    .svg-icon-bookmark, .svg-icon-bookmark-outline {
        height: 24px;
        width: 24px;
        fill: $button-color;
        margin-top: 3px;
        position: static;
    }

    .btn-bookmark_text {
        display: none;
    }

}

// Subscribe

.btn.btn-subscribe {

    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;

    &:hover {
        cursor: pointer;
    }
}

.btn-subscribe {
    display: flex;

    & > * {
        display: inline-block;
        position: relative;
        align-items: center;
    }
}

.btn-subscribe_count {
    text-align: center;
    padding: 0 7px;
    color: $primary-color;
    min-width: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}