.btn {
    background-color: $primary-color;
    color: white;
    font-weight: normal;
    font-size: 0.8em;
    padding: 5px 10px;
    border: none;
    border-radius: 0px;

    &:hover {
        background-color: $light-primary-color;
        color: white;
    }

    &:visited {
        color: white;
    }
}

.btn-light {
    background-color: $light-primary-color;

    &:hover {
        background-color: $lighter-primary-color;
        color: white;
    }
}