.btn {
    background-color: $primary-color;
    color: white;
    font-weight: normal;
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    border-radius: 0px;

    &:hover {
        background-color: $light-primary-color;
        color: white;
    }

    &:visited {
        color: white;
    }
}

.btn-light {
    background-color: $light-primary-color;

    &:hover {
        background-color: $lighter-primary-color;
        color: white;
    }
}

.btn-inactive {
    background-color: $button-color;
}

.btn-light.btn-inactive {
    background-color: mix(white, $button-color, 40%);

    &:hover {
        background-color: $lighter-primary-color;
    }
}

// Bookmark

.btn-bookmark {

    .svg-icon-bookmark, .svg-icon-bookmark-outline {
        height: 17px;
        width: 17px;
        fill: white;
        margin: 0 0 0 -3px;
        position: absolute;
        left: 10px;
        top: 5px;
    }

    .btn {
        &:hover {
            cursor: pointer;
        }
    }
}

.btn-bookmark_inner {

    display: flex;

    & > * {
        display: inline-block;
        position: relative;
        align-items: stretch;
    }
}

.btn-bookmark_count {
    border: 1px solid $border-color;
    border-right: none;
    vertical-align: middle;
    text-align: center;
    line-height: 26px;
    padding: 0 5px;
    color: $button-color;
    min-width: 20px;
}

.btn-bookmark_text {
    margin-left: 17px;
}

// Subscribe

.btn.btn-subscribe {
    &:hover {
        cursor: pointer;
    }
}
