.checkbox {
    height: 19px;
    position: relative;
    display: inline-flex;
    align-items: center;

    input[type="checkbox"] {
        cursor: pointer;
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        outline: 0;
        margin: 0;
        padding: 0;
        background: none;
    }

    .svg-icon {
        height: 19px;
        width: 19px;
    }

    .svg-icon-check-box {
        fill: $secondary-color;
    }

    .svg-icon-check-box-outline {
        fill: $button-color;
    }
}

.checkbox_label {
    font-size: 13px;
    color: $button-color;
    padding-left: 5px;
    user-select: none;

    .checkbox-checked & {
        color: $secondary-color;
    }
}

