.svg-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    fill: $button-color;

    & > svg {
        width: 100%;
        height: 100%;
    }
}

/*
 * Icon-specific styles
 */

.svg-icon-small-logo {
    .cls-1 {
        fill: $primary-color;
    }
    .cls-2 {
        fill: white;
    }
}