.item {
    padding: 10px;
    background-color: #fff;
    position: relative;
    display: block;
}

.item_inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.item_thumb {
    height: 100%;
    position: relative;
    float: left;

    .thumb_pixel {
        height: 100%;
    }

    .thumb_img-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        background-color: #ddd;
    }

    .thumb_img {
        @include center;
    }
}

.item_main {
    overflow: hidden;
    width: auto;
    height: 100%;
}

/******
 * ROOM
 ******/

.item-room {
    height: 110px;
    width: 350px;
    border: 1px solid #eee;

    color: $text-color;
    font-weight: normal;

    &:hover {
        cursor: pointer;
        color: $text-color;
    }
    
}

a.item-room {
    color: $text-color;
    font-weight: normal;
}

a.item-room.selected {
    background-color: rgba($primary-color, 0.1);
}

.item-room_info {
    overflow: hidden;
    float: left;
    width: calc(100% - 50px);
    padding-left: 10px;
    height: 100%;
    font-size: 14px;
}

.item-room_description {
    height: 80%;
}

.item-room_details {
    height: 20%;
    position: relative;
}

.item-room_detail {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #666;
}

.item-room_author {
    left: 0;
    font-weight: bold;
    display: none;
}

.item-room_channel {
    left: 0;
    font-weight: bold;
}

.item-room_time {
    right: 0;
}

.item-room_right {
    float: left;
    width: 50px;
    line-height: 90px;
    text-align: right;
    @include clearfix;
}

.item-room_bookmark {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    margin-left: 2px;
}

.item-room_open {
    position: absolute;
    top: 0; 
    right: 0;
    color: $success-color;
    font-size: 12px;
}

/**********
 * ACTIVITY
 **********/

.item-activity {
    height: 90px;
    width: 100%;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: relative;

    &.selected {
        background-color: #eee;
    }

    &.live {
        background-color: rgba($primary-color, 0.1);
    }

    &.live.selected {
        background-color: rgba($primary-color, 0.3);
    }
}

.item-activity_video-wrapper:after {
    content:'';
    position:absolute;
    left:0; 
    top:0;
    width:100%; 
    height:100%;
    display:inline-block;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,0.5) 100%); 
}

.item-activity_video {
    position: absolute;
    bottom: 1px;
    left: 4px;
    width: 15px;
    height: auto;
    z-index: 10; 
}

.item-activity_time {
    margin-left: 10px;
    height: 70px;
    line-height: 70px;
    color: #999;
    font-size: 14px;
    display: block;
    float: left;
    position: relative;

    span {
        vertical-align: middle;
        display: inline-block;
    }
}