.modal-container {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.85);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal {
    margin: 0 auto;
    margin-top: 100px;    
    background-color: white;
    padding: 10px;
    border: 1px solid $border-color;

    input {
        font-size: 14px;
    }
}

.modal_close {
    float: right;
    width: 15px;
    height: 15px;
    background: url('/images/close.png') center no-repeat;
    background-size: 12px;
    opacity: 0.4;

    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }

}

.modal_form {
    margin-top: 20px;
}

.modal_input-wrapper {
    width: 100%;
}

.modal_form_submit {
    width: 100px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.modal_extra {
    text-align: center;
    width: 100%;
    padding: 5px;
    font-size: 12px;

    a:hover {
        cursor: pointer;
    }
}

// Specific styles

.modal-auth {
    width: 300px;

    .modal_input-wrapper {
        padding: 0px 20px 10px 20px;
        position: relative;
    }

    input {
        width: 100%;
    }

    input.modal-login_password {
        padding-right: 60px;
    }
}

.modal-login_forgot {
    font-weight: normal;
    font-size: 12px;
    display: block;
    position: absolute;
    right: 29px;
    top: 7px;
    width: 60px;
    height: 100%;
    text-align: right;
}

.modal-auth_error {
    color: $error-color;
    font-size: 12px;
}