.player_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &.player_bottom-video {
        opacity: 0;
        transition: opacity 0.1s ease-in;
    }

    &.display-controls-video {
        opacity: 1;
    }

    &.not-scrubbable .video_progress-bar-padding {
        cursor: auto;
    }
}

.player_gradient-bottom {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.4) 100%);
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    .player_bottom-image & {
        opacity: 0;
        transition: opacity 0.1s ease-in;
    }

    .player_bottom-image.display-controls-image & {
        opacity: 1;
    }
}

.player_progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-38px);
    width: calc(100% - 26px);
    margin: 0 13px;
    z-index: 15;

    .player_bottom-image & {
        transition: transform 0.1s ease-in;
    }

    .player_bottom-image:not(.display-controls-image) & {
        width: 100%;
        margin: 0;
        transform: translateY(1px);
    }
}

.player_progress-bar-padding {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 25;
    cursor: pointer;
}

.player_progress-bar {
    position: relative;
    height: 6px;
    background: rgba(white, 0.6);
    transform: scaleY(0.6667);
    transition: transform 0.1s;

    &.active {
        transform: none;
    }
}

.player_progress-play {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $light-primary-color;
    transform-origin: 0 0;
    z-index: 20;
}

.player_progress-buffer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    transform-origin: 0 0;
    z-index: 19;
}

.player_progress-scrubber {
    position: absolute;
    left: 0;
    margin-left: -3px;
    top: -7px;
    width: 6px;
    height: 20px;
    background: $light-primary-color;
    z-index: 24;
    transform: scaleY(0);
    transition: transform 0.1s;

    &.active {
        transform: none;
    }
}

.player_controls {
    width: 100%;
    color: white;
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 38px;
    user-select: none;

    .svg-icon {
        fill: #f6f6f6;
        width: 28px;
        height: 28px;
        transition: fill 0.1s;

        &:hover {
            fill: #fff;
            cursor: pointer;
        }
    }

    .player_bottom-image & {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 0.1s, opacity 0.1s;
    }

    .player_bottom-image.display-controls-image & {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity 0.1s;
    }
}

.player_control {
    position: relative;
}

.player_controls-left {
    height: 100%;
    float: left;
    margin-left: 14px;
    display: flex;
    align-items: center;
}

.player_control-play-pause {
    margin-right: 5px;
}

.player_control-time {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.player_time-separator {
    margin: 0 4px;
}

.player_control-volume {
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.player_volume-icon {
    .svg-icon {
        width: 24px;
        height: 24px;
    }
}

.player_volume-slider-container {
    width: 0px;
    height: 38px;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    transition: width 0.15s;

    .player_control-volume.active & {
        width: 50px;
    }
}

.player_volume-slider-backdrop {
    @include centerY;
    width: 100%;
    height: 6px;
    background: rgba(white, 0.6);
}

.player_volume-slider {
    @include centerY;
    height: 6px;
    background: white;
    transform-origin: 0 50%;
}

.player_controls-right {
    height: 100%;
    float: right;
    @include clearfix;
    margin-right: 17px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.player_control-autoplay-timer {
    border-radius: 4px;
    background: rgba(#000, 0.4);
    padding: 3px 6px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    margin-top: -2px;
}

.player_control-autoplay {
    margin-left: 6px;
}

.player_control-autoplay-selected {
    .svg-icon-autoplay .cls-1 {
        fill: $light-primary-color;
    }
}

.player_control-fullscreen {
    margin-left: 8px;
}

.player_tooltip {
    @include triangle(rgba(#000, 0.6), 50%, 7px);

    background: rgba(#000, 0.6);
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    opacity: 0;
    transition: opacity 0.15s;
}

.player_control:hover .player_tooltip {
    opacity: 1;

    &:hover {
        opacity: 0;
    }
}

.player_control-fullscreen .player_tooltip {
    &::after {
        left: 68%;
    }
    left: 0;
}