.room-card {
    width: 700px;
    margin: 20px auto;
    position: relative;
}

a.room-card_main-title {
    display: block;
    margin-bottom: 13px;
    padding-bottom: 7px;
    border-bottom: 1px solid $border-color;
    font-size: 16px;
    font-weight: 500;
    color: $primary-color;

    &:hover {
        cursor: pointer;
        color: $light-primary-color;
    }
}

a.room-card_header {
    margin-bottom: 13px;
    display: block;
    position: relative;
    color: $text-color;

    &:hover {
        color: $text-color;
        .room-card_title {
            color: $primary-color;
        }
    }
}

.room-card_info-top {
    @include clearfix;
    margin-bottom: 8px;
}

.room-card_user {
    float: left;
    display: flex;
    align-items: center;
}

.room-card_profpic {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #ddd;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .svg-icon-person {
        @include center;
        width: 70%;
        height: 70%;
    }
}

.room-card_user-info {
    display: flex;
    align-items: flex-end;
    margin-left: 9px;
}

.room-card_username {
    font-size: 15px;
    font-weight: 500;
}

.room-card_time {
    font-size: 12px;
    font-weight: 300;
    color: $detail-text-color;
    margin-left: 6px;
}

.room-card_visits {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: $detail-text-color;
    font-weight: 300;
    margin-top: 20px;
}

.room-card_title {
    font-size: 20px;
    font-weight: 300;
}

.room-card_main {
    height: 330px;
    display: flex;
    position: relative;
    background-color: white;
    box-shadow: 3px 0px 5px 2px rgba(0,0,0,0.06);

    .player_main {
        width: 496px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    .player_media {
        height: 496px * 9 / 16;
        margin: 0;
    }

    .player_navigation {
        height: auto;
        flex: 1 0;
        border-bottom: none;
    }

    .player_nav-counter {
        display: flex;
    }

    .chat_history {
        display: inline-block;
        height: 100%;
        padding-bottom: 30px;
    }
    
}

a.room-card_prompt {
    position: absolute;
    bottom: -10px;
    right: -10px;
    display: inline-block;
    background-color: $primary-color;
    color: white;
    font-weight: 300;
    font-size: 13px;
    padding: 5px 10px 5px 15px;
    box-shadow: -4px 4px 6px -1px rgba(0,0,0,0.12);

    &:hover {
        background-color: $light-primary-color;
        &:after {
            border-color: transparent transparent transparent $light-primary-color;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 0 13px 10px;
        border-color: transparent transparent transparent $primary-color;
    }
}

// Responsiveness

.room-card.room-card-collapsed {
    width: 496px;
    .chat_history {
        display: none;
    }

    @include media('<=570px') {
        display: none;
    }
}

// Other styles

.room-card.room-card-hide-author {

    .room-card_user {
        display: none;
    }

    .room-card_visits {
        margin-top: 15px;
    }

    .room-card_title {
        margin-right: 60px;
    }
}