.switch {
    width: 100%;
}

.switch_inner {
    position: relative;
    height: 0;
    padding-bottom: 36%;
    overflow: hidden;
}

.switch_background {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    background: #ddd;

    .switch.enabled & {
        background: mix(#fff, $primary-color, 70%);
    }
}

.switch_scrubber {
    width: 30%;
    height: 100%;
    background: #888;
    transition: transform ease-in-out 0.1s;

    .switch.enabled & {
        transform: translateX(233%);
        background: $primary-color;
    }
}