.video_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.video_player-container {
    width: 100%;
    height: 100%;
}

.video_player {
    display: block;
    max-height: 100%;
    max-width: 100%;
    @include center;
}

.video_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.1s ease-in;

    &.display-controls {
        opacity: 1;
    }
}

.video_gradient-bottom {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,0.3) 100%);
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.video_progress-bar-container {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 6px;
    z-index: 15;
}

.video_progress-bar {
    position: relative;
    height: 100%;
    background: rgba(255,255,255,0.6);
}

.video_progress-play {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $light-primary-color;
    transform-origin: 0 0;
    z-index: 20;
}

.video_progress-buffer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    transform-origin: 0 0;
    z-index: 19;
}

.video_controls {
    width: 100%;
    color: white;
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    user-select: none;

    .svg-icon {
        fill: white;
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }
}

.video_controls-left {
    * {
        float: left;
    }

    height: 100%;
    float: left;
    margin-left: 5px;
}

.video_control-play-pause {
    margin-right: 5px;
}

.video_control-time {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.17);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.video_time-separator {
    margin: 0 4px;
}

.video_controls-right {
    * {
        float: right;
    }

    height: 100%;
    float: right;
    @include clearfix;
}